<div class="row justify-content-center">
    <div class="col-lg-8 col-xl-7">
        <p class="dashboard-welcome text-center text-muted">
            Nam porttitor blandit accumsan
            vel dictum sem pretium dui.
            In malesuada enim in dolo.
        </p>

        <form>
            <div class="form-group form-group--float-label">
                <input type="text" class="form-control" id="name111">
                <label for="name111">Imię lub nazwa firmy</label>
            </div>
            <div class="form-group form-group--float-label">
                <input type="email" class="form-control" id="email444">
                <label for="email444">Email</label>
            </div>
            <div class="form-group form-group--float-label">
                <textarea class="form-control" id="msg22" rows="7"></textarea>
                <label for="msg22">Twoja wiadomosć</label>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary contact-button">Wyślij</button>
            </div>
        </form>

        <div>
            <div class="contact-item">
                <span class="poll-icon poll-icon--phone"><span class="sr-only">Phone</span></span>
                <span class="contact-text">+48 513 154 486</span>
            </div>
            <div class="contact-item">
                <span class="poll-icon poll-icon--mail"><span class="sr-only">Email</span></span>
                <span class="contact-text">satisto@info.com</span>
            </div>
            <div class="contact-item">
                <span class="poll-icon poll-icon--address"><span class="sr-only">Address</span></span>
                <span class="contact-text">Cyfrowa 6<br>Szczecin 71-441</span>
            </div>
        </div>
    </div>
</div>
