<!-- build:section components.mail.style --><!-- /build -->

<table>
    <!-- build:section components.mail.header --><!-- /build -->

    <!-- build:section components.mail.footer --><!-- /build -->

    <tbody>
        <tr>
            <td class="first">
                <img class="image-main" alt="Rejestracja"
                     src="img/mail/rejestracja.png">

                <h1>Witaj w Satisto</h1>

                <p>Dziękujemy za rejestrację. Kliknij przycisk poniżej aby potwierdzić założenie konta.<br>Zostaniesz
                    przekierowana/y do Satisto.<br><br>Zacznij od stworzenia  swojej pierwszej ankiety i dowiedz się
                    co klienci myślą o zakupach Twoim sklepie.</p>

                <a class="btn btn-primary" href="#">Stwórz ankietę</a>
            </td>
        </tr>
    </tbody>
</table>
