<!-- build:section components.mail.style --><!-- /build -->

<table>
    <!-- build:section components.mail.header --><!-- /build -->

    <!-- build:section components.mail.footer --><!-- /build -->

    <tbody>
        <tr>
            <td>
                <img class="image-main" alt="Przypomnienie"
                     src="img/mail/przypomnienie.png">

                <h1>Twój abonament wkrótce się skończy</h1>

                <p>Abonament 2500 ważny jest do 27.12.2017, aby dalej korzystać z fukcji serwisu Satisto przedłuż plan
                    lub wybierz nowy.</p>

                <a class="btn btn-primary" href="#">Kup nowy pakiet</a>
            </td>
        </tr>
    </tbody>
</table>
