<!-- build:section components.mail.style --><!-- /build -->

<table>
    <!-- build:section components.mail.header --><!-- /build -->

    <!-- build:section components.mail.footer --><!-- /build -->

    <tbody>
        <tr>
            <td>
                <img class="image-main" alt="Raport"
                     src="img/mail/raport.png">

                <h1>Raport tygodniowy <small>11-17.12.2017</small></h1>

                <h2>"Czy jesteś zadowolona/y z zakupów w naszym sklepie?"</h2>

                <div class="box">
                    <div class="report-item">
                        <div class="report-image">
                            <img alt="Opinia pozytywna"
                                 src="img/mail/poll-good.png">
                        </div>

                        <div class="report-content">
                            <h3 class="report-title">60% (553 głosy) <small>Jestem bardzo zadowolona/y!</small></h3>
                        </div>
                    </div>

                    <div class="report-item">
                        <div class="report-image">
                            <img alt="Opinia neutralna"
                                 src="img/mail/poll-neutral.png">
                        </div>

                        <div class="report-content">
                            <h3 class="report-title">25% (223 głosy) <small>Raczej średnio</small></h3>
                        </div>
                    </div>

                    <div class="report-item">
                        <div class="report-image">
                            <img alt="Opinia negatywna"
                                 src="img/mail/poll-bad.png">
                        </div>

                        <div class="report-content">
                            <h3 class="report-title">15% (134 głosy) <small>Nie zamierzam tutaj robić więcej zakupów.</small></h3>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <span class="box-count">932</span>
                    <h4>Wysłane <small>(ile maili zostało wysłanych)</small></h4>

                    <span class="box-additional">vs. 500 maili w styczniu 2018</span>
                </div>

                <div class="box">
                    <span class="box-count">321</span>
                    <h4>Otwarte <small>(ile osób otworzyło maila)</small></h4>

                    <span class="box-additional">vs. 248 maili w styczniu 2018</span>
                </div>

                <div class="box">
                    <span class="box-count">280</span>
                    <h4>Ocenione <small>(ile osób klinęło w ankietę)</small></h4>

                    <span class="box-additional">vs. 198 maili w styczniu 2018</span>
                </div>

                <a class="btn btn-primary" href="#">Zobacz moje rapory</a>
            </td>
        </tr>
    </tbody>
</table>
