<!-- build:section components.mail.style --><!-- /build -->

<table>
    <!-- build:section components.mail.header --><!-- /build -->

    <!-- build:section components.mail.footer --><!-- /build -->

    <tbody>
    <tr>
        <td>
            <img class="image-main" alt="Rachunek"
                 src="img/mail/rachunek.png">

            <h1>Ciesz się zakupem Satisto 2500</h1>

            <p>4 Października 2017<br>Nr zamówienia: 779304112503078</p>

            <div class="wrapper">
                <table class="invoice">
                    <tfoot>
                    <tr>
                        <td>Razem</td>

                        <td>97zł</td>
                    </tr>
                    </tfoot>

                    <tbody>
                    <tr>
                        <td>2500 maili</td>

                        <td>97zł</td>
                    </tr>

                    <tr>
                        <td>VAT 23.00%</td>

                        <td>-</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="left">
                <strong>Metoda płatności:</strong>
                Przelewy24
            </div>

            <div class="right">
                <strong>Użytkownik:</strong>
                Mintishop.pl
            </div>

            <div class="summary">
                <div class="left">Faktura Vat nr. 000/123213</div>

                <div class="right">
                    <a href="#">
                        <img alt="Pobierz"
                             src="img/mail/download.png">
                    </a>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
