<!-- build:section components.mail.style --><!-- /build -->

<table>
    <!-- build:section components.mail.header --><!-- /build -->

    <!-- build:section components.mail.footer --><!-- /build -->

    <tbody>
    <tr>
        <td>
            <h1>Podziel się swoją opinią</h1>

            <p>Twoja opinia jest dla nas niezwykle ważna. Powiedz nam proszę jak przebiegły Ci zakupy w sklepie
                Minterdeshop.<br><br>Wybierz jedną z minek, to tylko jedno kliknięcie ;)</p>

            <a href="#" class="poll-item">
                <img alt="Opinia pozytywna"
                     src="img/mail/poll-good.png">

                <span>Bardzo dobrze, jestem bardzo zadowolony/a.</span>
            </a>

            <a href="#" class="poll-item poll-item--middle">
                <img alt="Opinia neutralna"
                     src="img/mail/poll-neutral.png">

                <span>Średnio, uważam, że mogło być trochę lepiej.</span>
            </a>

            <a href="#" class="poll-item">
                <img alt="Opinia negatywna"
                     src="img/mail/poll-bad.png">

                <span>Źle, nie jestem<br>za bardzo zadowolony/a.</span>
            </a>
        </td>
    </tr>
    </tbody>
</table>
