<div class="modal fade show" id="accountRemoveModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content--long">
            <div class="modal-header">
                <h5 class="modal-title">Powiedz nam dlaczego usuwasz&nbsp;konto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radio" id="radio1" value="option1" checked>
                        <label class="form-check-label" for="radio1">
                            Zbyt drogo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radio" id="radio2" value="option2">
                        <label class="form-check-label" for="radio2">
                            Nie jestem zadowolona/y z obsługi
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radio" id="radio3" value="option3">
                        <label class="form-check-label" for="radio3">
                            Korzystam z innego programu do ankiet
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radio" id="radio4" value="option4">
                        <label class="form-check-label" for="radio4">
                            Zbyt trudne w użyciu
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radio" id="radio5" value="option5">
                        <label class="form-check-label" for="radio5">
                            Nie chce podawać powodu
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radio" id="radio6" value="option6">
                        <label class="form-check-label" for="radio6">
                            Inne
                        </label>
                    </div>

                    <div class="form-group form-group--float-label">
                        <textarea class="form-control" id="uwagi" rows="6"></textarea>
                        <label for="uwagi">Czy masz jakieś inne uwagi?</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 order-last order-sm-first">
                            <button type="button" class="btn btn-outline-primary btn-block">Usuń konto</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Anuluj</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
