<div class="modal fade show" id="pollCreateModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Stwórz ankietę</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <p class="input-hint">Podaj nazwę swojego sklepu internetowego</p>
                    <div class="input-group input-group--float-label">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-group-text--cart"></span>
                        </div>
                        <input type="text" class="form-control" id="name5">
                        <label for="name5">Nazwa sklepu</label>
                    </div>

                    <p class="input-hint">Ten adres będzie służył do wysyłki maili do klientów.</p>
                    <div class="input-group input-group--float-label">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-group-text--email"></span>
                        </div>
                        <input type="text" class="form-control" id="email6">
                        <label for="email6">Adres email sklepu</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <button type="button" class="btn btn-primary btn-block">Stwórz ankietę</button>
                </div>
            </div>
        </div>
    </div>
</div>
