<div class="modal fade show" id="pollPreviewModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-content--long">
            <div class="modal-header">
                <h6 class="modal-subtitle">Podgląd ankiety</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="modal-title">Podziel się z nami swoją opinią</h5>

                <div class="poll-item">
                    <div class="poll-sign-image poll-sign-image--lg">
                        <img src="img/poll-icon-bg.png" alt="">
                    </div>

                    <h3 class="poll-title">Minterde Shop</h3>

                    <div class="poll-subtitle">Od: hej@minterdeshop.pl</div>

                    <div class="float-left float-sm-right">Wczoraj, 15:08</div>
                </div>

                <div class="box box--outer">
                    <div class="box poll-text">
                        <h4>Cześć Maja,</h4>

                        <p>Twoja opinia jest dla nas niezwykle ważna.<br>Powiedz nam proszę jak przebiegły
                            Ci zakupy w sklepie Mintishop.</p>

                        <p>Wybierz jedną z minek, to tylko jedno kliknięcie ;)</p>

                        <ul class="poll-links">
                            <li class="poll-links-item">
                                <a href="#">
                                    <img src="img/card1-bg.svg" alt="">
                                </a>

                                Bardzo dobrze, jestem bardzo zadowolony/a.
                            </li>

                            <li class="poll-links-item">
                                <a href="#">
                                    <img src="img/card2-bg.svg" alt="">
                                </a>

                                Średnio, uważam, że mogło być trochę lepiej.
                            </li>

                            <li class="poll-links-item">
                                <a href="#">
                                    <img src="img/card3-bg.svg" alt="">
                                </a>

                                Źle, nie jestem za bardzo zadowolony/a.
                            </li>
                        </ul>
                    </div>

                    <div class="poll-sign">
                        <div class="poll-sign-image">
                            <img src="img/poll-icon-bg.png" alt="">
                        </div>

                        <div class="float-left">
                            Serdecznie dziękujemy, <small>Zespół Minterde Shop</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
