<main class="col-lg-9 col-xl-7">
    <div class="dropdown dropdown--text">
        <button class="btn btn-white btn-block btn dropdown-toggle" type="button" data-toggle="collapse"
                data-target="#faq1" aria-expanded="true" aria-controls="faq1">
            Gdzie mam skopiować skrypt?
        </button>

        <div class="collapse-menu collapse show" id="faq1">
            <p>
                Nam dignissim est non erat elementum, sit amet rhoncus est efficitur. Suspendisse urna enim, mattis ut
                lectus in, maximus dapibus dui. Mauris convallis eget justo ut facilisis. Morbi eget dictum velit.
                Quisque vel nisl risus.<br>Donec varius, urna sit amet tristique sollicitudin, odio justo consectetur
                orci, eget blandit justo tortor tincidunt ex. Nullam nisi diam, fermentum a ornare ut, fermentum nec
                est. Sed justo sapien, suscipit quis tortor at, faucibus luctus.
            </p>
        </div>
    </div>

    <div class="dropdown dropdown--text">
        <button class="btn btn-white btn-block btn dropdown-toggle" type="button" data-toggle="collapse"
                data-target="#faq2" aria-expanded="true" aria-controls="faq2">
            Co jeśli ankieta nie zostanie wysłana?
        </button>

        <div class="collapse-menu collapse show" id="faq2">
            <p>
                Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec
                pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit
                elementum ut. Nunc vel rhoncus nibh, ut tincidunt turpis. Integer ac enim pellentesque, adipiscing metus
                id, pharetra odio. Donec bibendum nunc sit amet tortor scelerisque luctus et sit amet mauris.
                Suspendisse felis sem, condimentum ullamcorper est sit amet, molestie mollis nulla. Etiam lorem
                orci, consequat ac magna quis, facilisis vehicula neque.
            </p>
        </div>
    </div>

    <div class="dropdown dropdown--text">
        <button class="btn btn-white btn-block btn dropdown-toggle collapsed" type="button" data-toggle="collapse"
                data-target="#faq3" aria-expanded="false" aria-controls="faq3">
            Czy założenie konto coś kosztuje?
        </button>

        <div class="collapse-menu collapse" id="faq3">
            <p>
                Nam dignissim est non erat elementum, sit amet rhoncus est efficitur. Suspendisse urna enim, mattis ut
                lectus in, maximus dapibus dui. Mauris convallis eget justo ut facilisis. Morbi eget dictum velit.
                Quisque vel nisl risus.<br>Donec varius, urna sit amet tristique sollicitudin, odio justo consectetur
                orci, eget blandit justo tortor tincidunt ex. Nullam nisi diam, fermentum a ornare ut, fermentum nec
                est. Sed justo sapien, suscipit quis tortor at, faucibus luctus.
            </p>
        </div>
    </div>

    <div class="dropdown dropdown--text">
        <button class="btn btn-white btn-block btn dropdown-toggle collapsed" type="button" data-toggle="collapse"
                data-target="#faq4" aria-expanded="false" aria-controls="faq4">
            Czy mogę zapłacić w inny sposób niż przez przelewy24?
        </button>

        <div class="collapse-menu collapse" id="faq4">
            <p>
                Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec
                pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit
                elementum ut. Nunc vel rhoncus nibh, ut tincidunt turpis. Integer ac enim pellentesque, adipiscing metus
                id, pharetra odio. Donec bibendum nunc sit amet tortor scelerisque luctus et sit amet mauris.
                Suspendisse felis sem, condimentum ullamcorper est sit amet, molestie mollis nulla. Etiam lorem
                orci, consequat ac magna quis, facilisis vehicula neque.
            </p>
        </div>
    </div>

    <div class="dropdown dropdown--text">
        <button class="btn btn-white btn-block btn dropdown-toggle collapsed" type="button" data-toggle="collapse"
                data-target="#faq5" aria-expanded="false" aria-controls="faq5">
            Ile mogę mieć aktywnych ankiet?
        </button>

        <div class="collapse-menu collapse" id="faq5">
            <p>
                Nam dignissim est non erat elementum, sit amet rhoncus est efficitur. Suspendisse urna enim, mattis ut
                lectus in, maximus dapibus dui. Mauris convallis eget justo ut facilisis. Morbi eget dictum velit.
                Quisque vel nisl risus.<br>Donec varius, urna sit amet tristique sollicitudin, odio justo consectetur
                orci, eget blandit justo tortor tincidunt ex. Nullam nisi diam, fermentum a ornare ut, fermentum nec
                est. Sed justo sapien, suscipit quis tortor at, faucibus luctus.
            </p>
        </div>
    </div>

    <div class="dropdown dropdown--text">
        <button class="btn btn-white btn-block btn dropdown-toggle collapsed" type="button" data-toggle="collapse"
                data-target="#faq6" aria-expanded="false" aria-controls="faq6">
            Czy mogę edytować ankietę w trakcie jej trwania?
        </button>

        <div class="collapse-menu collapse" id="faq6">
            <p>
                Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec
                pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit
                elementum ut. Nunc vel rhoncus nibh, ut tincidunt turpis. Integer ac enim pellentesque, adipiscing metus
                id, pharetra odio. Donec bibendum nunc sit amet tortor scelerisque luctus et sit amet mauris.
                Suspendisse felis sem, condimentum ullamcorper est sit amet, molestie mollis nulla. Etiam lorem
                orci, consequat ac magna quis, facilisis vehicula neque.
            </p>
        </div>
    </div>

    <div class="dropdown dropdown--text">
        <button class="btn btn-white btn-block btn dropdown-toggle collapsed" type="button" data-toggle="collapse"
                data-target="#faq7" aria-expanded="false" aria-controls="faq7">
            Nie dostałam/em faktury, co zrobić?
        </button>

        <div class="collapse-menu collapse" id="faq7">
            <p>
                Nam dignissim est non erat elementum, sit amet rhoncus est efficitur. Suspendisse urna enim, mattis ut
                lectus in, maximus dapibus dui. Mauris convallis eget justo ut facilisis. Morbi eget dictum velit.
                Quisque vel nisl risus.<br>Donec varius, urna sit amet tristique sollicitudin, odio justo consectetur
                orci, eget blandit justo tortor tincidunt ex. Nullam nisi diam, fermentum a ornare ut, fermentum nec
                est. Sed justo sapien, suscipit quis tortor at, faucibus luctus.
            </p>
        </div>
    </div>
</main>
