<nav class="col-lg-3 offset-xl-1">
    <div class="list-group">
        <a class="list-group-item" href="#" data-toggle="list">Techniczne</a>
        <a class="list-group-item active"  href="#" data-toggle="list">Płatności</a>
        <a class="list-group-item" href="#" data-toggle="list">Inne</a>
    </div>
</nav>
