<nav class="col-lg-3 offset-xl-1">
    <div class="list-group">
        <a class="list-group-item" href="#" data-toggle="list">Polityka prywatności</a>
        <a class="list-group-item active"  href="#" data-toggle="list">Regulamin serwisu</a>
        <a class="list-group-item" href="#" data-toggle="list">Warunki korzystania ze strony</a>
    </div>
</nav>
