$gray-200: #E5E6EB;
$gray-300: #EDF0FA;
$gray-400: #A2A4AF;
$gray-500: #828492;
$gray-600: #555;
$gray-700: #50595E;
$gray-900: #2A2A2A;
$gray-additional: #535354;

$blue: #6795F5;
$blue-lighter: #7CA9FA;
$blue-lightest: #F9FAFF;
$blue-darker-2: #608CE8;
$blue-darker: #4267B2;
$yellow: #FFCB68;
$red: #FF6F61;
$green: #29CC97;

$blue-gradient: linear-gradient(45.13deg, #7BADF6 0%, #7DA4FF 100%);
$blue-gradient-transparent: linear-gradient(45.13deg, rgba(#7BADF6, .2) 0%, rgba(#7DA4FF, .2) 100%);
$yellow-gradient: linear-gradient(315deg, #FFCA5B 0%, #FFD3A1 100%);
$yellow-gradient-transparent: linear-gradient(315deg, rgba(#FFCA5B, .2) 0%, rgba(#FFD3A1, .2) 100%);
$red-gradient: linear-gradient(295.31deg, #FF6F61 0%, #FC60A8 100%);
$red-gradient-transparent: linear-gradient(295.31deg, rgba(#FF6F61, .2) 0%, rgba(#FC60A8, .2) 100%);
$green-gradient: linear-gradient(45.13deg, #38D8A4 0%, #29CC97 100%);
$green-gradient-transparent: linear-gradient(45.13deg, rgba(#38D8A4, .2) 0%, rgba(#29CC97, .2) 100%);

$secondary: $gray-200;
$info: $blue-lightest;

$body-color: $gray-900;
$body-color-secondary: $blue;
$text-muted: $gray-500;

$link-color: $body-color-secondary;

$grid-gutter-width: 35px;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1475px
);

$border-radius: 3px;
$component-box-shadow: 0 0 50px 0 rgba($gray-300, 0.5);
$component-box-shadow-2: 0 0 40px 0 rgba(213,223,255,0.3);
$component-box-shadow-3: 0 5px 30px 0 #EFF2FF;
$blue-box-shadow: 0 3px 5px 0 rgba(133,177,249,.2);
$yellow-box-shadow: 0 3px 5px 0 rgba(255,198,109,.2);
$red-box-shadow: 0 3px 5px 0 rgba(253,101,145,.2);
$green-box-shadow: 0 3px 5px 0 rgba(172,249,133,0.2);

$font-family-sans-serif:      'soin_sans_neue', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$input-btn-padding-y: .969rem;
$input-btn-padding-x: 1.25rem;

$input-btn-padding-y-lg: 1.282rem;

$input-btn-padding-y-sm:      .2821rem !default;
$input-btn-padding-x-sm:      .9375rem !default;

$input-font-size: .875rem;
$input-line-height: 1.0625rem;
$input-height: 50px;

$input-color: $body-color;
$input-border-color: $gray-200;

$input-focus-border-color: #CBD4FF;
$input-focus-box-shadow: 0 0 50px 0 rgba(199,212,255,0.2) !important;

$form-group-margin-bottom: 1.5625rem;

$btn-disabled-opacity: .2;

$table-cell-padding: 1.125rem;

$table-border-color: $input-border-color;
$table-head-bg: rgba(#F6F8FF, .4);

$nav-link-padding-y: 0;
$nav-link-padding-x: 0;

$nav-tabs-border-color: $input-border-color;
$nav-tabs-border-radius: 0;
$nav-tabs-link-hover-border-color: $input-border-color;
$nav-tabs-link-active-color: $gray-additional;
$nav-tabs-link-active-border-color: $input-border-color;

$navbar-padding-y: 25px;
$navbar-toggler-padding-y: 15px;
$navbar-toggler-padding-x: 15px;
$navbar-light-toggler-icon-bg: url('../img/menu-close-bg.svg');
$navbar-toggler-border-radius: 50%;
$navbar-light-color: $body-color;
$navbar-light-hover-color: $body-color;
$navbar-light-toggler-border-color: #E5E6EB;
$navbar-border-color: $gray-200;

$footer-header-color: #545454;

$card-spacer-y: 30px;
$card-spacer-x: 30px;
$card-border-color: $gray-200;

$modal-content-border-color: $input-border-color;

$modal-backdrop-bg: #6FC8FF;
$modal-backdrop-opacity: .5;
$modal-header-border-color: none;
$modal-header-padding: 0;

$modal-md: 527px;
$modal-lg: 773px;

$progress-height: 5px;
$progress-border-radius: 0;
$progress-box-shadow: 0 3px 5px 0 rgba(133,177,249,0.2);

$custom-file-height: 200px;

$custom-file-padding-y: 0;
$custom-file-padding-x: 0;
$custom-file-color: $body-color;
$custom-file-bg: transparent;
$custom-file-button-color: $gray-400;
$custom-file-button-bg: transparent;
$custom-file-text: (
        pl: 'Max. 2 MB JPG | PNG | SVG'
);

$dropdown-min-width: 100%;
$dropdown-padding-y: 0;
$dropdown-border-color: $input-border-color;
$dropdown-border-radius: 0 0 $border-radius $border-radius;

$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $body-color;
$dropdown-link-hover-bg: none;

$dropdown-item-padding-y: $input-btn-padding-y;
$dropdown-item-padding-x: $input-btn-padding-x;
