.modal {
  &-dialog {
    margin: 0 auto;
    height: 100vh;
    text-align: center;

    @include media-breakpoint-only(xs) {
      margin: 15px 10px 0;
    }

    .modal.fade & {
      transform: scale(0.75, 0.75);
    }
    .modal.show & {
      transform: scale(1, 1);
    }
  }

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-bottom: 15px;
    border-radius: $border-radius;
    box-shadow: 0 0 50px 0 #83C8F3;
    transform: translate(-50%, -50%);

    &--long {
      @include media-breakpoint-only(xs) {
        top: 0;
        transform: translateX(-50%);
      }
    }
  }

  &-header {
    padding: 0;

    .modal-title {
      width: 100%;
      padding: 60px 90px 0;
      font-size: 24px;
      font-weight: 400;

      @include media-breakpoint-only(xs) {
        padding: 30px 70px 0;
        font-size: 20px;
        line-height: 25px;
      }
    }

    .modal-subtitle {
      width: 100%;
      margin: 0;
      padding: 24px 35px;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
      line-height: 21px;
      color: rgba($body-color, .8);
      border-bottom: 1px solid $input-border-color;
    }
  }

  &-body {
    padding: 0 35px;

    @include media-breakpoint-only(xs) {
      padding: 0 20px;
    }

    p {
      margin: 30px 45px 60px;
      color: $text-muted;

      @include media-breakpoint-only(xs) {
        margin-bottom: 40px;
      }
    }

    form {
      margin: 60px 0 35px;
      text-align: left;
    }
  }

  &-footer {
    padding: 0 17.5px 35px;

    @include media-breakpoint-only(xs) {
      padding: 0 20px 20px;

      .container {
        padding: 0;
      }

      [class^=col-]:not(.order-last) .btn {
        margin-bottom: 20px;
      }
    }
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 15px;
    opacity: 1;
    background: url('../img/close-modal-bg.svg') no-repeat;
  }

  &-lg {
    text-align: left;

    .modal-title {
      margin: 40px 0 25px;
      font-size: 24px;
      font-weight: normal;
      line-height: 28px;

      @include media-breakpoint-only(xs) {
        margin: 0 -20px 25px;
        padding: 25px 0;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        border-bottom: 1px solid $input-border-color
      }
    }

    .close {
      top: 30px;
      right: 30px;
    }
  }
}
