.btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  text-transform: uppercase;

  &.btn-sm {
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
  }

  &.btn-xl {
    padding: 30px 0;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
  }

  &.btn-primary {
    box-shadow: 0 15px 30px 0 rgba(137, 175, 255, 0.4) !important;

    &:hover, &:active {
      background-color: #5283E8 !important;
      border-color: #5283E8 !important;
    }

    &:active {
      box-shadow: 0 15px 30px 0 rgba(137,175,255,0.4), inset 0 -2px 0 0 #3260BF !important;
    }
  }

  &.btn-outline-primary {
    line-height: 15px;
    border-width: 2px;
    box-shadow: 0 15px 30px 0 rgba(137,175,255,0.19);

    &:hover, &:active {
      box-shadow: 0 15px 30px 0 rgba(137,175,255,0.4) !important;
    }

    &:active {
      padding-bottom: 14.5px;
      border-bottom-width: 3px;
      border-bottom-color: #4D7CDE !important;
    }
  }

  &.btn-outline-secondary {
    color: $gray-400 !important;
    box-shadow: 0 0 50px 0 rgba(237,240,250,0.5);

    &:hover, &:active {
      background: $white !important;
      box-shadow: 0 0 20px 0 rgba(218,228,255,0.5);
    }

    &:active {
      box-shadow: 0 0 20px 0 rgba(218,228,255,0.5), inset 0 -1px 0 0 $input-border-color !important;
    }
  }

  &.btn-info {
    &:hover {
      color: $white;
      background: $blue-lighter;
    }
  }

  &.btn-white {
    border: 1px solid $input-border-color;
    background: $white;
  }

  &--delete {
    @extend .btn-link;
    @extend .btn-block;
    color: $gray-400;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;

    &:hover {
      text-decoration: none;
      color: $danger;
    }
  }

  &--fb {
    @extend .btn-block;
    position: relative;
    margin-bottom: 40px;
    padding-left: calc(50px + #{$input-btn-padding-x});
    color: $blue-darker !important;
    background: url('../img/fb-bg.svg') no-repeat 18px center $white !important;
    border: $input-border-width solid $input-border-color;
    box-shadow: $component-box-shadow;

    &:hover, &:active {
      box-shadow: 0 0 50px 0 rgba(218,228,255,0.5);
    }

    &:active {
      box-shadow: 0 0 50px 0 rgba(218,228,255,0.5), inset 0 -2px 0 0 $input-border-color;
    }

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50px;
      width: 1px;
      background: $input-border-color;
      content: '';
    }
  }

  &--doc {
    @extend .btn-block;
    padding-left: calc(50px + #{$input-btn-padding-x});
    background-color: #5283E8;
    border-color: #5283E8;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 50px;
      border-radius: $border-radius 0 0 $border-radius;
      background: url('../img/doc-bg.svg') no-repeat top $blue-darker-2;
      content: '';
      transition: all .2s ease;
    }

    &:hover, &:active {
      &::before {
        background-color: #4E77CE;
      }
    }

    &:active {
      &::before {
        box-shadow: inset 0 -3px 0 0 #3260BF !important;
      }
    }
  }

  &--report {
    float: left;
    margin: -10px 0 20px;

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: -38px;
      margin: 0;
    }
  }

  &--edit, &--back {
    color: $gray-additional;

    &::before {
      display: inline-block;
      margin: 0 20px -4px 0;
      width: 18px;
      height: 18px;
      background: url('../img/edit-bg.svg') no-repeat left bottom / contain;
      transition: background-image .2s ease;
      content: '';
    }

    &:hover::before {
      background-image: url('../img/edit-white-bg.svg');
    }
  }

  &--back {
    &::before {
      width: 10px;
      height: 16px;
      margin: 0 15px -2px 0;
      background-image: url('../img/back-bg.svg');
      transition: background-image .2s ease;
      content: '';
    }

    &:hover::before {
      background-image: url('../img/back-white-bg.svg');
    }
  }

  &--back-2 {
    margin-bottom: 20px;

    @include media-breakpoint-down(md) {
      margin-top: -10px;
    }
  }

  &--remove {
    padding: {
      left: 0;
      right: 0;
    }
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    color: $danger;
    background: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-spaced {
    margin-bottom: 100px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 30px;
    }
  }

  &--header {
    height: 40px;
    padding: 0 25px;
    font-size: 10px;
    line-height: 14px;

    &.btn-outline-primary:active {
      padding-top: 1px;
      padding-bottom: 0 !important;
    }
  }

  &--send {
    padding: 14px 50px;

    &::after {
      display: block;
      width: 20px;
      height: 20px;
      background: url('../img/send-bg.svg') no-repeat;
      content: '';
    }
  }

  &--padded {
    padding: {
      left: 51px;
      right: 51px;
    }

    &-2 {
      width: 223px;
    }
  }
}
