.text {
  .list-group {
    margin-bottom: 30px;

    &-item {
      padding: 21px 20px 20px;
      font-size: 14px;
      line-height: 17px;
      color: $body-color;
      transition: all .2s ease;

      &.active {
        padding-left: 19px;
        font-weight: 500;
        background: #fff;
        border-color: $input-border-color;
        border-left-color: $blue;
        box-shadow: inset 1px 0 0 0 $blue;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  h1 {
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
  }

  h2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
  }

  h3 {
    font-size: 20px;
    line-height: 23px;
  }

  h4 {
    font-size: 18px;
    line-height: 22px;
  }

  h5 {
    font-size: 16px;
    line-height: 18px;
  }

  h6 {
    font-size: 14px;
    line-height: 17px;
    color: $gray-400;
  }

  p {
    color: $text-muted;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
