.table {
  thead {
    th {
      font-weight: 500;
      background: $table-head-bg;
      border-bottom-width: 1px;
    }
  }

  th, td {
    padding: {
      left: 30px;
      right: 30px;
    }
  }

  td {
    color: $gray-additional;
  }
}