.splash {
  position: relative;
  z-index: $zindex-fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-content: stretch;

  .header-brand {
    svg {
      margin: 0 auto;
    }
  }

  &-text {
    @extend .text-center;
    flex: 0 0 466px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 90px 65px 30px;
    background: $white;

    @include media-breakpoint-down(md) {
      flex: 0 0 100%;
      padding: 0 30px 30px;
      background: linear-gradient(0deg, $white 0%, #FBFCFF 60.35%, $blue-lightest 100%);
    }
  }

  &-image {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 466px);
    height: 100vh;
    background: url('../img/splash-bg.png') no-repeat center / cover;
  }

  &-top {
    @include media-breakpoint-down(md) {
      margin: 0 -30px;
      padding: 20px 0 16px;
      background: $white;
      border-bottom: 1px solid $input-border-color;
    }

    a {
      font-size: 35px;
      line-height: 40px;

      @include media-breakpoint-down(md) {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }

  &-middle {
    flex: 1 0 auto;
    margin-top: 60px;

    @include media-breakpoint-down(md) {
      margin-top: 50px !important;
    }

    h2 {
      font-size: 24px;
      font-weight: 400;
    }

    > p {
      color: $gray-500;

      a {
        color: inherit;
        text-decoration: underline;
      }
    }

    form {
      margin: 50px 0 0;
      font-size: 14px;
      line-height: 17px;

      + p {
        margin-top: 50px;
        font-size: 14px;
      }
    }

    &--with-text {
      margin-top: 74px;
    }
  }

  &-bottom {
    padding: 0 30px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: $gray-400;

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  &-pass-remind {
    margin-bottom: 25px;
    text-align: left;

    a {
      color: inherit;
    }
  }
}
