.platforms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -20px;

  > div {
    position: relative;
    flex: 0 0 22.9%;
    margin-bottom: 20px;

    @include media-breakpoint-only(xs) {
      flex: 0 0 47%;
    }
  }

  %bg-mono {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    z-index: 1;
    background: no-repeat center $white !important;
    border-radius: 0;
    box-shadow: none !important;
    content: '';
    transition: opacity .2s ease;
  }

  $platforms: (
          bigcommerce, weebly, kentico, big-cartel, shopify, threedcart, cstore, magento, shopmatic, sote,
          wix, volusion, shopsite, redcart, iaishop, shoplo, woocommerce, prestashop, sky-shop, home, shoper,
          shopgold, opencart, inna
  );
  @each $platform in $platforms {
    .#{$platform} {
      &::before, &::after {
        @extend %bg-mono;
        background-image: url('../img/platforms-color/#{$platform}.png') !important;
      }

      &::after {
        z-index: 2;
        background-image: url('../img/platforms/#{$platform}.png') !important;
      }
    }
  }

  .custom-control-input:checked + .custom-control-label::after {
    opacity: 0;
  }
}
