.dropdown {
  position: relative;
  margin-bottom: 35px;
  border-radius: $border-radius;
  box-shadow: $component-box-shadow;

  @include media-breakpoint-down(lg) {
    margin-bottom: 30px;
  }

  .report & {
    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }

  &-toggle {
    position: relative;
    padding: {
      top: 0;
      bottom: 0;
    }
    height: 50px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    white-space: normal;
    box-shadow: none !important;

    &::after {
      position: absolute;
      top: 50%;
      right: 20px;
      border: none;
      background: url('../img/dropdown-bg.svg') no-repeat;
      width: 14px;
      height: 8px;
      transform: translateY(-50%);
      transition: transform .2s ease;
    }
  }

  &-menu {
    margin: -1px 0 0;
    left: 0;
    right: 0;
    box-shadow: $component-box-shadow;

    &[x-placement=top-start] {
      margin: 0;
      border-radius: $border-radius $border-radius 0 0;
    }
  }

  &-item {
    font-size: 14px;
    line-height: 18px;
    white-space: normal;
    border-top: 1px solid $input-border-color;

    &:first-child {
      border-top: 0;
    }

    &:hover, &.active {
      font-weight: 500;
      color: $body-color;
      background-color: $white;
    }
  }

  &.show {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .dropdown-toggle {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;

      &::after {
        transform: translateY(-50%) rotateZ(180deg);
      }
    }
  }

  &-label {
    font-weight: 500;
    text-align: right;
    line-height: 47px;
    color: $gray-additional;
    white-space: nowrap;

    @include media-breakpoint-down(md) {
      margin-bottom: 16px;
      text-align: left;
      line-height: 18px;
    }
  }

  &--lg {
    strong {
      font-weight: 500;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }

    .dropdown-toggle {
      padding: 24px 30px;
      height: auto;
      font-size: 18px;
      line-height: 22px;
      background: none;
      color: $gray-additional;

      @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 20px;
      }

      &::after {
        right: 30px;
      }
    }

    &.show {
      .dropdown {
        &-toggle {
          background: $white;
        }

        &-item {
          padding: 24px 30px;
          font-size: 18px;
          line-height: 22px;
          color: $gray-additional;

          @include media-breakpoint-down(sm) {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }

  &--langs {
    margin: 0;
    box-shadow: none;
    outline: none !important;

    &-toggle {
      padding: 0 26px 0 0;
      width: 100px;
      height: 40px;
      border: 1px solid transparent;
      border-radius: $border-radius $border-radius 0 0;
      background: none;
      box-shadow: none;
      outline: none !important;
      transition: all .2s ease;

      @include media-breakpoint-down(md) {
        display: none;
      }

      &::after {
        right: 20px;
        width: 9px;
        height: 6px;
        background: url('../img/arrow-bg.svg') no-repeat;
      }
    }

    &-menu {
      @include media-breakpoint-down(md) {
        display: block;
        padding: 25px 0;
        border: none;
        box-shadow: none;
        text-align: center;
      }
    }

    & &-item {
      padding: 11px 26px 11px 0;
      color: rgba($body-color, .5);

      &.active {
        color: $body-color;
      }

      @include media-breakpoint-down(md) {
        position: relative;
        display: inline;
        padding: 0 25px;
        font-size: 15px !important;
        font-weight: 400 !important;
        border: none;

        &::before {
          position: absolute;
          top: 4px;
          left: -2px;
          height: 15px;
          border-left: 1px solid $input-border-color;
          content: '';
        }

        &:first-child {
          &::before {
            content: none;
          }
        }

        .pl, .en {
          margin: 0 6px 0 0;
        }
      }
    }

    &-toggle, &-item {
      font-size: 10px;
      font-weight: 600 !important;
      text-transform: uppercase;
      text-align: center;
      white-space: nowrap;

      .pl, .en {
        display: inline-block;
        margin: 2px 10px -2px 0;
        width: 17px;
        height: 12px;
        background: url('../img/langs/pl.svg');
      }

      .en {
        background-image: url('../img/langs/en.png');
      }
    }

    &.show {
      box-shadow: $component-box-shadow;

      .dropdown-toggle {
        border-color: $input-border-color;

        &::after {
          transform: translateY(-50%) rotateZ(-180deg);
        }
      }
    }
  }

  &--card {
    margin: 0 !important;

    .dropdown-toggle {
      height: 55px;
      font-size: 15px;
      border: {
        right: none;
        bottom: none;
        left: none;
      }
      border-radius: 0;

      &:not(.collapsed) {
        background: $table-head-bg;

        &::after {
          transform: translateY(-50%) rotateZ(90deg);
        }
      }

      &::after {
        width: 8px;
        height: 12px;
        background-image: url('../img/back-bg.svg');
        background-size: contain;
        transform: translateY(-50%) rotateZ(-90deg);
      }
    }

    .collapse-menu {
      padding: 20px 20px 4px;
      font-size: 15px;
      background: $table-head-bg;
      border-top: 1px solid $input-border-color;

      strong {
        font-weight: 500;
      }
    }
  }

  &--text {
    margin-bottom: 0;
    background: none;
    box-shadow: none;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    .dropdown-toggle {
      margin: 0;
      padding: 0 30px 0 0;
      height: auto;
      font-size: 20px;
      line-height: 25px;
      background: none;
      border: none;
      color: $body-color;

      &::after {
        right: 0;
      }

      &:not(.collapsed) {
        &::after {
          transform: translateY(-50%) rotateZ(180deg);
        }
      }
    }

    .collapse-menu {
      margin: 20px 0 0;
    }
  }
}
