.form-group {
  box-shadow: $component-box-shadow;

  .form-control {
    font-size: $input-font-size;
    box-shadow: none;
    transition: all .2s;

    &[placeholder] {
      &::placeholder {
        color: rgba($body-color, .5);
      }
    }

    &.is-invalid {
      color: $danger;
      background: url('../img/field-error-bg.svg') no-repeat calc(100% - 15px) 13px $white;
      box-shadow: none;

      + label {
        color: $danger;
      }
    }
  }

  select.form-control {
    padding: 0 14px;
  }

  textarea.form-control {
    padding-bottom: 13px;
    line-height: 21px;
  }

  &--float-label {
    position: relative;

    label {
      position: absolute;
      top: 18px;
      left: 21px;
      height: 14px;
      z-index: 3;
      font-size: 0.875rem;
      line-height: 1;
      cursor: text;
      transition: all .2s;
    }

    .form-control--filled {
      padding: 22px 20px 9px;

      + label {
        top: 10px;
        left: 22px;
        font-size: 10px;
        color: $gray-700 !important;
        opacity: 0.6;
      }
    }

    [placeholder] {
      + label {
        color: rgba(0, 0, 0, 0);
      }
    }

    textarea.form-control--filled {
      padding-bottom: 7px;
    }
  }

  &--spaced {
    margin-bottom: 35px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 25px;
    }
  }

  &--answer {
    margin-left: 83px;

    @include media-breakpoint-down(lg) {
      margin-left: 73px;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: -83px;
      width: 43px;
      height: 43px;
      background: no-repeat left / contain;
      transform: translateY(-50%);
      content: '';

      @include media-breakpoint-down(lg) {
        left: -73px;
      }
    }

    &-mobile {
      @include media-breakpoint-down(sm) {
        margin-left: 73px;
      }
    }
  }

  $answers: (good, medium, bad);
  @for $i from 1 through length($answers) {
    &--answer-#{nth($answers, $i)}::before {
      background-image: url('../img/card#{$i}-bg.svg');
    }
  }

  .invalid-feedback {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 10px;
    line-height: 12px;
    text-align: left;

    strong, a {
      font-weight: 400;
      color: $body-color;
    }
  }
}

.input-group {
  @extend .form-group;

  .form-control {
    border-top-right-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
  }

  &--float-label {
    @extend .form-group--float-label;

    label {
      left: 71px;
    }

    .form-control--filled {
      + label {
        left: 72px;
      }
    }
  }

  .input-group-text {
    padding: {
      left: 25px;
      right: 25px;
    }
    box-shadow: none;

    $inputGroups: (cart, email, pass);

    @each $inputGroup in $inputGroups {
      &--#{$inputGroup} {
        background: url('../img/#{$inputGroup}-bg.svg') no-repeat center $white;

        &.is-invalid {
          background-image: url('../img/#{$inputGroup}-error-bg.svg');
        }
      }
    }

    &.is-invalid {
      border-color: $danger;
    }
  }
}

.form-check {
  margin-bottom: 15px;
  padding-left: 50px;

  &-input {
    top: 50%;
    margin: 0 0 0 -50px;
    width: 30px;
    height: 30px;
    border: 1px solid $input-border-color;
    border-radius: 50%;
    appearance: none;
    outline: none;
    transform: translateY(-50%);

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 0 solid $primary;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      content: '';
      transition: border .2s ease, border-radius .2s ease;
    }

    &[type=checkbox]::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: url('../img/tick-bg.svg') no-repeat center;
      opacity: 0;
      transition: opacity .2s ease;
      content: '';
    }

    &:checked {
      &[type=radio]::after {
        border-width: 4px;
      }

      &[type=checkbox]::after {
        border-width: 15px;
        border-radius: $border-radius;
        box-shadow: 0 15px 30px 0 rgba(137, 175, 255, 0.4);
      }

      &[type=checkbox]::before {
        opacity: 1;
      }

      + .form-check-label {
        color: $body-color;
      }
    }

    &:last-child {
      margin: 0;
    }

    &[type=checkbox] {
      border-radius: $border-radius;
    }
  }

  &-label {
    padding: 5px 0;
    line-height: 20px;
    color: $gray-500;
    transition: color .2s ease;

    &:first-child {
      margin: 0 10px 0 0;
    }
  }

  + .form-group {
    margin-top: 30px;
  }

  &-inline {
    margin: 0 0 0 23px;
    padding: 0;

    &:first-child {
      margin-left: 0;
    }

    .form-check-input {
      position: relative;
      transform: none;

      &::after {
        top: 50%;
        right: 50%;
        left: auto;
        transform: translate(50%, -50%);
      }
    }
  }

  .box + & {
    margin-top: 10px;
  }
}

.custom-radio {
  padding: 0;

  .custom-control-input {
    &:checked + .custom-control-label {
      @extend .btn-outline-primary;
      color: $body-color !important;
      font-weight: 500;

      &:hover {
        background: inherit;
      }
    }
  }

  .custom-control-label {
    @extend .btn;
    @extend .btn-block;
    @extend .btn-outline-secondary;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;

    &:hover {
      color: inherit;
      background: inherit;
    }

    &::before, &::after {
      content: none;
    }
  }

  &--lg {
    .custom-control-label {
      height: 70px;
    }
  }
}

.custom-file {
  margin-bottom: $form-group-margin-bottom;

  @include media-breakpoint-down(md) {
    height: 126px;
  }

  input {
    cursor: pointer;

    @include media-breakpoint-down(md) {
      height: 126px;
    }
  }

  label {
    border-style: dashed;
    margin: 0;
    padding-top: 112px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: $gray-additional;
    background: url('../img/file-input-bg.svg') no-repeat center 34px;

    @include media-breakpoint-down(md) {
      background-position: center -14px;
      padding-top: 63px;
      height: 126px;
    }

    &::after {
      top: auto;
      bottom: 10px;
      left: 0;
      height: auto;
      font-size: 11px;
      font-weight: 400;
      line-height: 13px;
      text-transform: uppercase;
      border: none;

      @include media-breakpoint-down(md) {
        bottom: 20px;
      }
    }
  }

  &.is-invalid {
    label {
      border-color: $danger;
    }

    .invalid-feedback {
      display: block;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
    }
  }
}

.form-divider {
  position: relative;
  z-index: 2;
  display: block;
  margin: 40px 0;
  color: $gray-400;

  &::before, &::after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: -1;
    height: 1px;
    background: $input-border-color;
    content: '';
  }

  &::after {
    top: 0;
    left: 50%;
    right: auto;
    width: 96px;
    height: 100%;
    background: $white;
    transform: translateX(-50%);
  }
}

.input-hint {
  margin: 0 0 10px !important;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: rgba($gray-700, .6);
}

.form-buy {
  .form-check {
    margin: 0 -35px;
    padding: 0;

    @include media-breakpoint-down(sm) {
      margin: 0 -20px;
    }

    &-input {
      left: 35px;
      margin: 0;

      @include media-breakpoint-down(sm) {
        left: 20px;
        width: 20px;
        height: 20px;
      }

      &:checked {
        &[type=radio]::after {
          border-width: 4px;

          @include media-breakpoint-down(sm) {
            border-width: 3px;
          }
        }

        + label {
          border-color: $input-border-color;
          box-shadow: $component-box-shadow;
        }
      }
    }

    &-label {
      display: block;
      margin: 0;
      padding: 17.5px 35px 17.5px 85px;
      overflow: hidden;
      font-size: 20px;
      line-height: 23px;
      border: {
        top: 1px solid transparent;
        bottom: 1px solid transparent;
      }
      transition: all .2s ease;

      .float-left:first-child {
        width: 115px;
      }

      @include media-breakpoint-down(sm) {
        padding: 15px 20px 15px 50px;
        font-size: 15px;
        line-height: 17px;
      }
    }
  }
}

.input-remind {
  &-toggle {
    clear: both;

    p {
      margin: 10px 0 35px;
      font-size: 14px;

      @include media-breakpoint-down(md) {
        text-align: center;
      }

      @include media-breakpoint-only(xs) {
        margin-bottom: 10px;
      }
    }

    @include media-breakpoint-only(xs) {
      .custom-control-label {
        width: 150px;
        margin: 25px auto 0;
      }
    }
  }
}
