.custom-carousel {
  position: relative;
  z-index: 2;
  padding: 0;
  background: url('../img/custom-carousel-bg.svg') no-repeat center 81px / 1140px 2px;

  @include media-breakpoint-up(md) {
    padding: 0 80px;
  }

  &:before, &:after {
    position: absolute;
    top: -28px;
    left: calc(50% - 32px);
    z-index: -1;
    width: 810px;
    height: 237px;
    background: url('../img/custom-carousel-center-bg.svg') no-repeat;
    content: '';
    transform: translateX(-50%);
  }

  &:after {
    top: 135px;
    left: calc(50% - 42px);
    z-index: 1;
    width: 73px;
    height: 73px;
    background-image: url('../img/custom-carousel-center-2-bg.svg');
  }

  &-image {
    position: relative;
    margin: 0 auto;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform .2s ease;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      margin: 0 auto;
      height: 100%;
      transform: translate(-50%, -50%);
    }
  }

  &-desc {
    margin-top: 40px;
    opacity: 0;
    transition: opacity .2s ease;

    @include media-breakpoint-up(md) {
      margin: 40px -50px 0;
      width: calc(100% + 100px);
    }
  }

  .slick-arrow {
    top: 82px;
    left: 0;
    width: 30px;
    height: 30px;
    background: url('../img/arrow-carousel-left.svg');

    @include media-breakpoint-only(xs) {
      left: -10px;
    }

    &::before {
      content: none;
    }
  }

  .slick-next {
    left: auto;
    right: 0;
    background-image: url('../img/arrow-carousel-right.svg');

    @include media-breakpoint-only(xs) {
      right: -10px;
    }
  }

  .slick-slide {
    position: relative;
    transition: transform .2s ease;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url('../img/custom-carousel-item-small-bg.png') no-repeat top;
      opacity: 1;
      transform: translate(-1px, 6px);
      transition: all .2s ease;
      content: '';
    }

    &.first, &.last {
      &::before {
        background-image: url('../img/custom-carousel-item-small-bg.png');
        transform: translate(-1px, 32px);
      }

      .custom-carousel-image {
        transform: scale(.34, .34);
      }
    }

    &.prev, &.next {
      transform: translateX(-12%);

      &::before {
        background-image: url('../img/custom-carousel-item-bg.png');
        transform: translate(-1px, 6px);
      }

      .custom-carousel-image {
        transform: scale(.6, .6);
      }
    }

    &.next {
      transform: translateX(12%);
    }
  }

  .slick-current {
    transform: translate(0);

    .custom-carousel-image {
      transform: scale(1, 1);
    }

    &::before {
      opacity: 0;
    }

    .custom-carousel-desc {
      opacity: 1;
    }
  }
}
