.message {
  padding: 5px 0 7px;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  background: $gray-400;

  @include media-breakpoint-down(md) {
    padding: 13px 0;
  }

  &-container {
    position: fixed;
    top: 101px;
    left: 0;
    right: 0;
    z-index: $zindex-sticky - 1;
    transform: translateY(-100%);
    transition: transform .2s ease;

    @include media-breakpoint-down(md) {
      top: 60px;
    }

    &.show {
      transform: translateY(0);
    }
  }

  &-close {
    position: absolute;
    top: 50%;
    right: $grid-gutter-width / 2;
    width: 12px;
    height: 16px;
    background: url('../img/close-bg.svg') no-repeat bottom;
    cursor: pointer;
    transform: translateY(-50%);

    @include media-breakpoint-only(xs) {
      right: 30px;
    }
  }

  &--success {
    background: $blue-gradient;
  }

  &--danger {
    background: $red-gradient;
  }

  .container {
    position: relative;
    padding-right: $grid-gutter-width * 2 !important;
  }
}
