.link {
  &-add {
    padding-left: 28px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    background: url('../img/add-bg.svg') no-repeat left calc(50% - 1px);
  }

  &-edit, &-copy {
    padding-left: 35px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none !important;
    color: $gray-additional !important;
    background: url('../img/edit-bg.svg') no-repeat left bottom;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      border-bottom: 2px solid transparent;
      transition: all .2s ease;
      content: '';
    }

    &:hover, &:active {
      &:before {
        background: $white;
      }
    }

    &:active {
      &:before {
        border-bottom-color: $input-border-color;
      }
    }
  }

  &-copy {
    background-image: url('../img/copy-bg.svg');
  }

  &-next {
    padding-right: 13px;
    font-size: 14px;
    line-height: 17px;
    color: rgba($gray-700, .6) !important;
    background: url('../img/arrow-right-bg.svg') no-repeat right 8px;

    @include media-breakpoint-down(sm) {
      display: block;
      text-align: left;
      background-position: right;
    }
  }
}
