.progress {
  @extend .progress;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: $blue-gradient-transparent;
  box-shadow: $blue-box-shadow;

  &--warn {
    background: $yellow-gradient-transparent;
    box-shadow: $yellow-box-shadow;

    .progress-bar {
      background: $yellow-gradient;
      box-shadow: $yellow-box-shadow;
    }
  }

  &--danger {
    background: $red-gradient-transparent;
    box-shadow: $red-box-shadow;

    .progress-bar {
      background: $red-gradient;
      box-shadow: $red-box-shadow;
    }
  }

  &-container {
    strong {
      font-size: 20px;
      font-weight: 500;
    }

    small {
      display: block;
    }

    .header-item & {
      padding: 11px 0 12px;
    }
  }

  &-bar {
    @extend .progress-bar;
    background: $blue-gradient;
    box-shadow: $blue-box-shadow;
  }
}
