.hero {
  margin-bottom: 100px;
  position: relative;
  padding: 100px 0 0;
  color: $white;

  @include media-breakpoint-down(md) {
    padding: 40px 0 0;
  }

  &-container {
    margin: -60px 0 -100px;
    overflow-x: hidden;

    @include media-breakpoint-down(md) {
      margin: -30px 0 0;
    }
  }

  .container {
    position: relative;
    z-index: 20;
  }

  &-title {
    margin-bottom: 20px;
    font-size: 58px;
    line-height: 68px;

    @include media-breakpoint-down(md) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  &-lead {
    margin: 0 auto 50px;
    width: 55%;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;

    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
      width: 85%;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
    }
  }

  &-button {
    &, &:focus {
      @extend .btn;
      @extend .btn--padded;
      color: $white;
      background: #F85F84;
      box-shadow: 0 5px 20px 0 #3471EE;

      &:hover, &:active {
        background-color: #F13F6A;
        border-color: #F13F6A;
      }

      &:active {
        background-color: #EB325F;
        border-color: #EB325F;
        box-shadow: 0 5px 20px 0 #3471EE, inset 0 -2px 0 0 #C61F47;
      }
    }
  }

  &-image-main {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    transform: translateY(15.3%);

    @include media-breakpoint-down(md) {
      max-width: none;
      width: calc(100% + #{$grid-gutter-width * 3});
      transform: translate(-$grid-gutter-width * 1.5, 15.3%);
    }
  }

  &-image-secondary {
    position: absolute;
    bottom: -11px;
    left: 50%;
    transform: translateX(-523px);

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &-bg, &-bg-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: linear-gradient(0deg, #4287EA 0%, #6A97FF 100%);

    &::before, &::after, &-inner::before, &-inner::after {
      position: absolute;
      bottom: 14.5%;
      left: 50%;
      z-index: 10;
      width: 98vw;
      height: 98vw;
      border-radius: 50%;
      background: linear-gradient(0deg, #7CA4FF 0%, #F8F8FE 100%);
      box-shadow: 0 0 216px 0 #2868F2;
      opacity: .03;
      transform: translate(-50%, 50%);
      content: '';

      @include media-breakpoint-down(md) {
        width: 223vw;
        height: 223vw;
      }
    }

    &::after {
      z-index: 9;
      width: 78vw;
      height: 78vw;
      opacity: .035;

      @include media-breakpoint-down(md) {
        width: 160vw;
        height: 160vw;
      }
    }

    &-inner::before {
      z-index: 8;
      width: 56.3vw;
      height: 56.3vw;
      opacity: .04;

      @include media-breakpoint-down(md) {
        width: 115.3vw;
        height: 115.3vw;
      }
    }

    &-inner::after {
      z-index: 7;
      width: 38.5vw;
      height: 38.5vw;
      opacity: .045;
    }
  }

  &--bottom {
    margin: 0 0 -80px;
    padding: 135px 0;

    @include media-breakpoint-down(md) {
      padding: 50px 0;
    }

    @include media-breakpoint-only(xs) {
      margin: 0 0 -50px;
    }

    &-title {
      font-size: 48px;

      @include media-breakpoint-down(md) {
        font-size: 24px;
        line-height: 45px;
      }
    }

    &-lead {
      @include media-breakpoint-down(md) {
        font-size: 18px;
        line-height: 25px;
      }
    }

    &-bg {
      &::before, &::after, &-inner::before, &-inner::after {
        bottom: -28%;

        @include media-breakpoint-down(md) {
          bottom: -82%;
        }
      }

      &::before {
        content: none;
      }

      &::after {
        opacity: .03;

        @include media-breakpoint-down(md) {
          width: 260vw;
          height: 260vw;
        }
      }

      &-inner::before {
        opacity: .035;

        @include media-breakpoint-down(md) {
          width: 180vw;
          height: 180vw;
        }
      }

      &-inner::after {
        opacity: .04;
      }
    }
  }
}
