.prices {
  &-container {
    position: relative;
    background: url('../img/prices-bg.svg') no-repeat center / contain;

    @include media-breakpoint-down(sm) {
      background: none;

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -13.5%;
        left: -2%;
        z-index: 0;
        background: url('../img/prices-mobile-bg.svg') no-repeat center 100%;
        background-size: 125% auto;
        content: '';
      }
    }
  }

  &-item {
    padding: {
      left: 0 !important;
      right: 0 !important;
    }
    font-size: 20px;

    .float-left:first-child {
      width: 135px !important;
    }
  }

  &-save {
    float: left;
    font-size: 12px;
    font-weight: 500;

    @include media-breakpoint-down(sm) {
      clear: left;
      font-size: 10px;
      font-weight: 300;
    }
  }
}
