.footer {
  margin: 80px 0 0;
  padding: 40px 0;
  font-size: 14px;
  border-top: $input-border-width solid $input-border-color;

  @include media-breakpoint-only(xs) {
    margin-top: 50px;
    padding: 50px 0;
    text-align: center;
  }

  &-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-copy {
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 20px;
    color: $text-muted;
  }

  &-header {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;
    color: $gray-additional;

    @include media-breakpoint-only(xs) {
      margin-bottom: 19px;
      font-size: 16px;
      line-height: 18px;
    }
  }

  &-links {
    @extend .list-unstyled;
    margin: 0;
    line-height: 35px;

    @include media-breakpoint-only(xs) {
      margin-bottom: 25px;
    }

    a {
      display: block;
      color: $gray-500;
    }

    @include media-breakpoint-only(xs) {
      line-height: 30px;
    }
  }

  &-payment {
    display: inline-block;
    margin-top: 11px;
    width: 80px;
    height: 28px;
    background: url('../img/przelewy24-bg.svg') no-repeat center / contain;

    @include media-breakpoint-only(xs) {
      margin: 25px auto 0;
    }
  }
}
