.contact {
  @include media-breakpoint-up(lg) {
    background: url('../img/map-bg.svg') no-repeat center 35px;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    vertical-align: middle;

    @include media-breakpoint-up(lg) {
      margin: 140px 0 20px;
      float: left;
      width: 33.333%;

      &:first-child {
        justify-content: left;
      }

      &:last-child {
        justify-content: flex-end;
      }
    }

    .poll-icon {
      display: inline-block !important;
      margin-right: 15px;
    }
  }

  &-text {
    width: 120px;
    font-size: 14px;
    line-height: 20px;
  }

  &-button {
    width: 166px;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}
