.dashboard {
  &-header {
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;

    @include media-breakpoint-down(lg) {
      clear: both;
      margin-bottom: 30px;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
    }
  }

  &-welcome {
    margin-bottom: 60px;
    font-weight: 300;

    @include media-breakpoint-down(lg) {
      margin-bottom: 30px;
    }

    strong {
      font-weight: 400;

      @include media-breakpoint-down(lg) {
        display: block;
      }
    }
  }

  &-main {
    @include make-col-ready;

    @include media-breakpoint-up(lg) {
      @include make-col(8);
    }
  }

  &-aside {
    @include make-col-ready;
    flex: 1 1 auto;

    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }

  &-menu {
    @extend .list-unstyled;
    display: flex;
    margin-bottom: 35px;
    overflow: hidden;
    border: 1px solid $input-border-color;
    border-radius: $border-radius;
    box-shadow: $component-box-shadow;

    @include media-breakpoint-down(lg) {
      margin-bottom: 30px;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    &-item {
      position: relative;
      flex: 0 0 50%;
      padding: 37px 0;
      text-align: center;
      border-left: 1px solid $input-border-color;

      @include media-breakpoint-down(sm) {
        padding: 22px 0;
        border-top: 1px solid $input-border-color;
        border-left: none;
      }

      &:first-child {
        border-left: none;

        @include media-breakpoint-down(sm) {
          border-top: none;
        }
      }
    }
  }
}
