.nav-tabs {
  &-container {
    position: relative;
    z-index: 1;
    margin: 60px auto;
    width: 527px;

    @include media-breakpoint-down(sm) {
      margin: 30px 0;
      width: auto;
    }
  }

  .nav-item {
    position: relative;
    flex: 0 0 50%;
    padding: 22px 0 21px;
    text-align: center;
    border-left: none;
    border-color: $input-border-color;
    transition: all .2s ease;

    &:after {
      position: absolute;
      top: 0;
      right: -1px;
      left: -1px;
      height: 5px;
      background: $blue-gradient;
      box-shadow: $blue-box-shadow;
      border-radius: inherit;
      opacity: 0;
      transition: opacity .2s ease;
      content: '';
    }

    &:first-child {
      border-left: 1px solid $input-border-color;
      border-radius: $border-radius 0 0 0;
    }

    &:last-child {
      border-radius: 0 $border-radius 0 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 16px 15px 11px;
    }

    &.active {
      box-shadow: $component-box-shadow;

      &:after {
        opacity: 1;
      }
    }
  }

  .nav-link {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    color: rgba($gray-400, .8);

    br {
      display: none;
    }

    @include media-breakpoint-down(sm) {
      font-size: 10px;
      line-height: 13px;

      br {
        display: block;
      }
    }

    span {
      font-weight: 400;
    }
  }
}

.tab-content {
  padding: 17.5px 35px 35px;
  background: $body-bg;
  border: 1px solid $input-border-color;
  border-top: none;
  box-shadow: $component-box-shadow;

  @include media-breakpoint-down(sm) {
    padding: 12.5px 20px 35px;
  }
}
