.header {
  @extend .navbar;
  @extend .sticky-top;
  @extend .navbar-light;
  @extend .bg-white;
  margin-bottom: 60px;
  border-bottom: 1px solid $navbar-border-color;

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
    padding: 11px 2.5px 10px 12.5px !important;
  }

  &-container {
    @extend .container;
    padding: {
      left: $grid-gutter-width / 2;
      right: $grid-gutter-width / 2;
    }

    @include media-breakpoint-up(lg) {
      position: relative;
    }

    &--secondary {
      position: relative;
      top: -#{$navbar-padding-y + 51px};
      z-index: 0;
      margin-bottom: -#{$navbar-padding-y*2 + 51px};

      .col-4 {
        overflow: hidden;
      }
    }
  }

  &-primary {
    z-index: 2;
  }

  &-brand {
    svg {
      display: block;
      width: auto !important;
      height: 33px;

      @include media-breakpoint-down(md){
        height: 24px;
      }
    }
  }

  &-user-name {
    float: left;
    font-size: 24px;
    line-height: 44px;
    color: $gray-additional;

    @include media-breakpoint-down(md) {
      line-height: 32px;
    }
  }

  &-toggler {
    @extend .navbar-toggler;
    margin-left: $grid-gutter-width;
    box-shadow: 0 5px 20px 0 rgba(124, 168, 251, 0.05);

    @include media-breakpoint-only(lg) {
      margin-left: $grid-gutter-width / 2;
    }

    @include media-breakpoint-down(md) {
      padding: 9px;
    }

    &-icon {
      @extend .navbar-toggler-icon;
      display: block;
      width: 18px;
      height: 18px;
      background-size: 16px;

      @include media-breakpoint-down(md) {
        background-size: 10px;
      }
    }

    &.collapsed {
      .header-toggler-icon {
        background-image: url('../img/menu-bg.svg');
        background-size: 18px;

        @include media-breakpoint-down(md) {
          background-size: 14px;
        }
      }
    }
  }

  &-collapse {
    @extend .col-2;
    @extend .bg-white;
    position: absolute;
    right: $grid-gutter-width / 2;
    top: calc(100% + #{$navbar-padding-y});
    padding: 0;
    border: 1px solid $navbar-border-color;

    @include media-breakpoint-down(md) {
      top: 100%;
      left: 0;
      right: 0;
      max-width: none;

      .navbar-nav {
        background: linear-gradient(0deg, #FFFFFF 0%, #F9FAFF 100%);
        max-height: calc(100vh - 60px);
        overflow: auto;
      }

      &:not(.collapse, .collapsing) {
        display: none;
      }
    }

    &--static {
      @include media-breakpoint-up(lg) {
        position: static;
        display: block !important;
        border: none;
      }

      .navbar-nav {
        .header-item {
          margin-left: 20px;

          @include media-breakpoint-up(lg) {
            border-bottom: none !important;
          }
        }

        .header-link {
          margin-left: 10px;
          padding: {
            top: 0;
            bottom: 0;
          }
          font-size: 14px;
          font-weight: 500;

          @include media-breakpoint-up(lg) {
            line-height: 40px;
          }
        }
      }
    }
  }

  &-item {
    @extend .nav-item;
    position: relative;

    @include media-breakpoint-up(lg) {
      border-bottom: none;
    }

    @include media-breakpoint-down(md) {
      order: 2;
      margin-left: 0 !important;
      padding: 10px;
      text-align: center;

      .btn {
        display: block;
        width: 100%;
        height: 72px;
        font-size: 14px;
        line-height: 16px;
      }

      &--first {
        order: 0;
        border-bottom: 1px solid $navbar-border-color;
      }

      &--second {
        order: 1;
      }
    }

    &:not(:last-child, .header-item--no-border) {
      border-bottom: 1px solid $navbar-border-color;
    }
  }

  &-link {
    @extend .nav-link;
    padding: 33px 0;
    text-align: center;
    color: $gray-additional !important;

    @include media-breakpoint-down(md) {
      margin: 0 !important;
      padding: 27px 0 !important;
      font-size: 12px !important;
      text-transform: uppercase;
    }

    &:hover, &:active {
      font-weight: 500;
    }

    &--danger {
      color: $red !important;
    }
  }

  &-submenu {
    @include make-row;
    padding: 0 12px 0 11px;

    > .header-submenu-item {
      @include make-col(6);
      position: relative;
      display: flex;
      justify-content: center;
      padding: #{$navbar-padding-y + .5} $navbar-padding-y;
      text-align: center;
      border-right: 1px solid $gray-200;
      color: $gray-additional;

      &:first-child {
        border-left: 1px solid $gray-200;
      }

      a {
        align-self: center;
        color: $footer-header-color;
      }

      &--switch {
        position: absolute;
        top: 0;
        right: 13px;
        width: calc(50% - 12px);

        .header-submenu-item {
          padding: 20px;
          transform: translateY(-120%);
          background: $white;
          transition: transform .2s ease;
        }

        &:hover {
          .header-submenu-item {
            transform: none;
          }
        }
      }
    }
  }

  &--narrow {
    padding: {
      top: 20px;
      bottom: 20px;
    }
  }
}
