.code {
  &-instructions {
    margin: 0 140px 50px;

    @include media-breakpoint-down(xl) {
      margin: 0 90px 50px;
    }

    @include media-breakpoint-only(xs) {
      margin: 0 0 50px 15px;
    }

    ol {
      @extend .list-unstyled;
      counter-reset: instructions;

      li {
        position: relative;
        margin-bottom: 40px;
        padding-left: 60px;

        &::before {
          position: absolute;
          top: 0;
          left: -18px;
          width: 50px;
          height: 50px;
          font-size: 18px;
          font-weight: 500;
          line-height: 48px;
          text-align: center;
          color: $blue;
          border: 1px solid $input-border-color;
          border-radius: 50%;
          box-shadow: $component-box-shadow-2;
          counter-increment: instructions;
          content: counter(instructions);
        }

        &:first-child {
          margin-bottom: 50px;

          &::before {
            @include media-breakpoint-up(md) {
              top: -14px;
            }
          }
        }
      }
    }

    strong {
      font-weight: 500;
    }
  }

  &-content {
    margin: 0 35px 35px;
    font-size: 14px;

    @include media-breakpoint-only(xs) {
      margin: 0 -5px 35px;
    }

    pre {
      margin: 0;
      box-shadow: $component-box-shadow;
    }

    .hljs {
      padding: 0;
      max-height: 300px;
      overflow-y: auto;
      border: 1px solid $input-border-color;
      border-radius: $border-radius;
    }

    table.hljs-ln {

      tr:first-child {
        td {
          padding-top: 10px;
        }
      }

      tr:last-child {
        td {
          padding-bottom: 10px;
        }
      }
    }

    td.hljs-ln-numbers {
      height: 22px;
      font-size: 10px;
      text-align: center;
      vertical-align: middle;
      color: #ACB9CE;
      border-right: 1px solid $input-border-color;
      background: rgba(250,250,255,0.6);
      user-select: none;

      .hljs-ln-line {
        width: 38px;
      }
    }

    td.hljs-ln-code {
      padding-left: 10px;
    }
  }
}
