.centered {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-image {
    &--success {
      margin: -152px 0 -100px;
      height: 394px;
      background: url('../img/success-bg.svg') no-repeat center;

      @include media-breakpoint-only(xs) {
        margin: -122px 0 -130px;
        background-size: 120% auto;
      }
    }
  }
}
