.subheader {
  @extend .list-unstyled;
  display: flex;
  justify-content: center;
  margin: -60px 0 60px;
  text-align: center;
  border-bottom: 1px solid $input-border-color;

  @include media-breakpoint-down(md) {
    margin: -30px 0 30px;
  }

  &-item {
    flex: 0 0 233px;
    padding: 28px 0;
    text-align: center;
    color: rgba($body-color, .3);
    border: {
      left: 1px solid $input-border-color;
      right: 1px solid $input-border-color;
    }

    @include media-breakpoint-down(sm) {
      flex: 0 0 33%;
      padding: 16px 0;
      font-size: 12px;
      line-height: 14px;

      span {
        display: block;
      }
    }

    &.active {
      font-weight: 500;
      color: $blue-lighter;
    }

    &:first-child, &:last-child {
      border: none;
    }

    a {
      color: inherit;
      transition: color .2s ease;

      &:hover, &:active {
        color: $link-color;
        text-decoration: none;
      }
    }
  }

  &--title {
    padding: 100px 0;
    background: $white;

    @include media-breakpoint-down(md) {
      padding: 35px 0;
    }

    h2 {
      margin: 0;
      font-size: 48px;
      line-height: 49px;

      @include media-breakpoint-down(md) {
        font-size: 24px;
        line-height: 27px;
      }
    }
  }
}
