.answer {
  @extend .card;
  flex-direction: row;
  margin: $grid-gutter-width/2 0;
  box-shadow: $component-box-shadow;

  @include media-breakpoint-down(lg) {
    display: block;
    margin: 10px 0 20px;
    text-align: center;
  }

  &-container {
    margin-bottom: 60px;
    padding: 60px calc(8.3333333333% - #{($grid-gutter-width)}) 90px;
    border: 1px solid $card-border-color;
    border-radius: $border-radius;

    @include media-breakpoint-down(lg) {
      margin-bottom: -20px;
      padding: 0;
      border: none;
    }
  }

  &-img-top {
    flex: 0 0 100px;
    padding: $card-spacer-y 0 0 $card-spacer-x;
    text-align: center;

    @include media-breakpoint-down(lg) {
      padding: 35px 0 0;
    }

    img {
      width: 51px;
    }
  }

  &-body {
    @extend .card-body;
  }

  &-title {
    @extend .card-title;
    margin-bottom: 15px;
    float: left;
    font-size: $font-size-base;
    font-weight: 400;
    line-height: 25px;

    @include media-breakpoint-down(lg) {
      float: none;
      margin-bottom: 5px;
    }
  }

  &-subtitle {
    @extend .card-subtitle;
    @extend .text-muted;
    margin-top: 0;
    float: right;
    font-weight: 400;

    @include media-breakpoint-down(lg) {
      float: none;
      margin-bottom: 30px;
      font-size: 14px;
    }
  }

  &-text {
    @extend .card-text;
    clear: both;
    color: $text-muted;
  }
}
