.chart {
  &-donut {
    @include media-breakpoint-down(sm) {
      order: 1;
      margin-bottom: 20px;
    }

    &-container {
      position: relative;
      margin: 85px 0;
      padding: 40px 0;
      background: url('../img/chart-donut-bg.svg') no-repeat center / contain;

      @include media-breakpoint-down(lg) {
        margin: 40px 0 0;
      }

      @include media-breakpoint-down(sm) {
        margin: 20px 0 0;
        padding: 20px 0;
      }

      canvas {
        position: relative;
        z-index: 1;
      }
    }
  }

  &-line {
    margin-bottom: 25px;
  }

  &-legend {
    @extend .list-unstyled;
    display: flex;
    margin: 30px 0 0;
    border-top: 1px solid $input-border-color;

    @include media-breakpoint-down(sm) {
      margin: 0 0 40px;
      border-top: none;
      border-bottom: 1px solid $input-border-color;
    }

    &-item {
      flex: 0 0 (1/3) * 100%;
      padding: 27px 0;
      border-left: 1px solid $input-border-color;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      text-align: center;
      color: $gray-additional;
      cursor: pointer;

      &:after {
        display: block;
        margin: 10px auto 0;
        width: 25px;
        height: 3px;
        border-radius: 2px;
        background: $green-gradient;
        box-shadow: $green-box-shadow;
        content: '';
      }

      &:first-child {
        border-left: none;
      }

      @include media-breakpoint-down(sm) {
        padding: 10px 0 14px;
        font-size: 14px;
        border: none;
      }

      &--neutral::after {
        background: $yellow-gradient;
        box-shadow: $yellow-box-shadow;
      }

      &--bad::after {
        background: $red-gradient;
        box-shadow: $red-box-shadow;
      }
    }

    &--right {
      @include media-breakpoint-up(md) {
        display: block;
        float: right;
        margin: 0 30px 0 0;
        text-align: right;
        border: none;
      }

      .chart-legend-item {
        @include media-breakpoint-up(md) {
          display: inline-block;
          margin-left: 45px;
          border: none;

          &::after {
            margin-right: 0;
          }
        }
      }
    }
  }

  &-tooltip, &-tooltip.center.top {
    position: absolute;
    z-index: 1;
    margin-top: -45px;
    padding: 15px 30px;
    font-size: 14px;
    color: $gray-400;
    text-align: center;
    background: $white !important;
    border: 1px solid $input-border-color;
    border-radius: $border-radius;
    transform: translate(-50%, -100%);
    transition: opacity .1s ease;

    @include media-breakpoint-down(md) {
      margin: 0 !important;
      transform: translate(-50%, calc(-100% - 20px)) !important;

      &::before, &::after {
        top: 100% !important;
        right: auto !important;
        bottom: auto !important;
        left: 50% !important;
        border-color: transparent !important;
        border-top-color: $input-border-color !important;
        transform: translate(-50%, 0) !important;
      }

      &::after {
        border-color: transparent !important;
        border-top-color: $white !important;
      }
    }

    &.left {
      margin: 0 0 0 -45px;
      transform: translate(-100%, -50%);

      &::before, &::after {
        top: 50%;
        left: auto;
        right: 0;
        bottom: auto;
        border-top-color: transparent;
        border-left-color: $input-border-color;
        transform: translate(100%, -50%);
      }

      &::after {
        border-top-color: transparent;
        border-left-color: $white;
      }
    }

    &.right {
      margin: 0 0 0 45px;
      transform: translate(0, -50%);

      &::before, &::after {
        top: 50%;
        bottom: auto;
        left: 0;
        border-top-color: transparent;
        border-right-color: $input-border-color;
        transform: translate(-100%, -50%);
      }

      &::after {
        border-top-color: transparent;
        border-right-color: $white;
      }
    }

    &::before, &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      border: 10px solid transparent;
      border-top-color: $input-border-color;
      transform: translate(-50%, 100%);
      content: '';
    }

    &::after {
      border-width: 9px;
      border-top-color: $white;
    }

    &-borders {
      @extend .list-unstyled;
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      display: flex;

      &-item {
        flex: 1 0 auto;
        height: 2px;

        &:first-child {
          border-top-left-radius: $border-radius;
        }

        &:last-child {
          border-top-right-radius: $border-radius;
        }
      }
    }

    &-titles {
      margin-bottom: 5px;
    }

    &-title {
      display: block;
      font-size: 18px;
      font-weight: 500;
      color: $body-color;
      white-space: nowrap;
    }

    &-line {
      display: block;
    }
  }
}
