.poll {
  &-icon {
    position: relative;
    display: inline-block;
    margin-right: 26px;
    width: 50px;
    height: 50px;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    color: $blue-lighter;
    background: $blue-gradient-transparent;
    border-radius: 50%;
    vertical-align: center;

    @include media-breakpoint-down(lg) {
      display: none;
    }

    @each $form in (phone, mail, address) {
      &--#{$form} {
        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 20px;
          height: 20px;
          transform: translate(-50%, -50%);
          background: url('../img/#{$form}-bg.svg') no-repeat center;
          content: '';
        }
      }
    }
  }

  &-item {
    overflow: hidden;
    margin-bottom: 35px;
    font-size: 14px;

    @include media-breakpoint-only(xs) {
      margin: -10px 0 20px;
    }

    .float-left {
      width: 50%;
      font-size: 12px;
      color: $gray-additional;
    }
  }

  &-title {
    float: left;
    width: calc(100% - 95px);
    margin: 10px 0 5px;
    font-size: 20px;
    font-weight: 400;

    @include media-breakpoint-only(xs) {
      margin: 0;
    }
  }

  &-subtitle {
    float: left;

    @include media-breakpoint-only(xs) {
      margin-bottom: 3px;
    }
  }

  &-text {
    margin-bottom: 40px;
    padding: 35px;

    @include media-breakpoint-only(xs) {
      margin: 0 -20px 25px;
      padding: 25px;
      border: {
        left: none;
        right: none;
      }
      border-radius: 0;
    }

    h4 {
      margin: 0 0 30px;
      font-size: 20px;
      font-weight: 400;
      line-height: 23px;
    }

    p {
      margin: 0 0 30px;
      font-size: 14px;
      line-height: 21px;
      color: rgba($body-color, .8);
    }
  }

  &-links {
    @extend .list-unstyled;
    display: flex;
    justify-content: space-between;
    margin: 80px 0 0;
    font-size: 14px;
    text-align: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      margin-top: 0;
    }

    &-item {
      flex: 0 0 140px;
      padding: 0 15px;
      color: $body-color;

      @include media-breakpoint-down(md) {
        margin-top: 10px;

        &:first-child {
          margin-top: 0;
        }
      }

      img {
        display: block;
        margin: 0 auto 25px;
        width: 60px;
      }
    }
  }

  &-sign {
    line-height: 20px;

    &-image {
      position: relative;
      float: left;
      margin-right: 25px;
      width: 50px;
      height: 50px;
      background: $white;
      border: 1px solid $input-border-color;
      border-radius: 50%;
      box-shadow: $component-box-shadow-2;

      @include media-breakpoint-only(xs) {
        margin-bottom: 25px;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        max-width: 40%;
        transform: translate(-50%, -50%);
      }

      &--lg {
        width: 70px;
        height: 70px;

        @include media-breakpoint-only(xs) {
          width: 50px;
          height: 50px;
          margin-top: 10px;
          margin-bottom: 0;
        }
      }
    }

    small {
      display: block;
      font-size: 14px;
    }
  }
}
