.box {
  @include clearfix;
  position: relative;
  margin-bottom: 60px;
  background: $white;
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  box-shadow: $component-box-shadow;

  @include media-breakpoint-down(lg) {
    margin-bottom: 30px;
  }

  &-title {
    margin: 0;
    padding: 30px 30px 40px;
    font-size: 20px;
    line-height: 22px;

    &:not(.box-title--alt) {
      @include media-breakpoint-down(sm) {
        float: none !important;
        padding-bottom: 30px;
        font-size: 16px;
        text-align: center;
        border-bottom: 1px solid $input-border-color;
      }
    }

    small {
      display: block;
      font-size: 16px;
      color: $gray-additional;
    }

    &--alt {
      @include media-breakpoint-down(lg) {
        padding: 25px 20px;
      }
    }
  }

  &-footer {
    margin: 35px -35px 0;
    padding: 35px 35px 0;
    border-top: 1px solid $input-border-color;

    @include media-breakpoint-down(lg) {
      margin: 25px -30px 0;
      padding: 25px 30px 0;
    }

    &-label {
      font-size: 18px;
      font-weight: 500;
      color: $gray-additional;

      @include media-breakpoint-down(md) {
        margin-bottom: 25px;
      }
    }
  }

  &-count {
    display: inline-block;
    margin-bottom: 20px;
    padding: 12px 31px;
    background: $blue-gradient-transparent;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    border-radius: 25px;
    color: $blue-lighter;
  }

  &-additional {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: $gray-400;

    @include media-breakpoint-down(lg) {
      padding: 0 90px;
    }
  }

  &--flex {
    display: flex;
    flex-direction: column;
  }

  &--empty, &--copy {
    min-height: 500px;
    text-align: center;
    background: url('../img/time-bg.svg') no-repeat center -70px;

    @include media-breakpoint-down(sm) {
      min-height: 0;
      padding-bottom: 14px;
      background-position: center -120px;
      background-size: 450px auto;
    }

    .box-title {
      padding: 280px 0 15px;
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      color: $gray-additional;

      @include media-breakpoint-down(sm) {
        margin: 0 0 15px !important;
        padding-top: 200px;
        font-size: 16px;
        border: none;
      }
    }

    .btn {
      @include media-breakpoint-down(sm) {
        display: block;
        width: 100%;
        margin: 0 0 -14px;
        border-radius: 0 0 $border-radius $border-radius;
      }
    }
  }

  &--copy {
    background-image: url('../img/script-bg.svg');

    .box-title {
      padding-bottom: 60px;

      span {
        display: block;
      }
    }
  }

  &--transparent {
    padding: 30px 0;
    background: none;
    text-align: center;

    h4 {
      margin-bottom: 28px;
      font-size: 20px;
      line-height: 22px;
      color: $gray-700;

      span {
        display: block;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  &--outer {
    margin-bottom: 35px;
    padding: 35px;
    background: #FBFCFF;
    box-shadow: none;

    @include media-breakpoint-only(xs) {
      margin: 0;
      padding: 0;
      border: none;
      background: none;

      .box {
        padding-bottom: 0;
        box-shadow: none;
      }
    }
  }

  &--modal-spacing {
    margin: {
      left: -#{$grid-gutter-width};
      right: -#{$grid-gutter-width};
    }

    @include media-breakpoint-down(lg) {
      margin: {
        left: -30px;
        right: -30px;
      }
    }

    &-white {
      @include media-breakpoint-only(xs) {
        overflow: hidden;
        margin-bottom: -50px;
        padding-bottom: 50px;
        background: $white;
        box-shadow: $component-box-shadow;

        .box {
          @include media-breakpoint-only(xs) {
            box-shadow: none;
          }
        }
      }
    }

    .box {
      margin-bottom: 35px;
      padding: 35px;

      @include media-breakpoint-down(lg) {
        margin-bottom: 30px;
        padding: 30px;
        border-radius: 0 !important;
      }
    }

    .box-title {
      padding: 25px 0 60px;
      font-size: 24px;
      font-weight: 400;
      line-height: 28px;
      text-align: center;

      @include media-breakpoint-down(lg) {
        padding: 10px 0 35px;
        border-bottom: none;
      }
    }

    .box-button-group {
      display: flex;

      > div:first-child {
        flex: 1 1 auto;

        @include media-breakpoint-down(sm) {
          order: 1;
        }
      }

      .btn {
        @include media-breakpoint-down(sm) {
          width: 100% !important;

          &.btn-primary {
            margin-top: 25px !important;
          }
        }

        @include media-breakpoint-only(xs) {
          width: calc(100% - 60px) !important;
          margin: {
            left: 30px !important;
            right: 30px !important;
          }
        }

        &:not(.btn--remove) {
          width: 223px;
          margin-left: 35px;

          @include media-breakpoint-down(sm) {
            display: block;
            margin: 0;
          }
        }
      }

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }

      &-2 {
        @include media-breakpoint-only(xs) {
          margin: 0 30px;

          .form-check {
            margin: -40px auto 50px;
            text-align: center;
          }

          .btn {
            width: 100%;

            + .btn {
              @include media-breakpoint-only(xs) {
                margin-top: 25px;
              }
            }
          }
        }
      }
    }
  }

  &--last {
    @include media-breakpoint-down(lg) {
      margin-bottom: 0;
    }
  }

  &--no-border {
    @include media-breakpoint-only(xs) {
      margin-bottom: 50px !important;
      padding-bottom: 0 !important;
      border-bottom: none;
    }
  }
}
