.homepage {
  position: relative;
  padding: 225px 0 0;
  overflow-x: hidden;
  font-size: 20px;
  line-height: 30px;
  color: $text-muted;
  background: url('../img/homepage-top-bg.svg') no-repeat left -1100px;

  &:before, &:after {
    position: absolute;
    top: 220px;
    left: 0;
    width: 279px;
    height: 274px;
    background: url('../img/homepage-feature-bg.svg') no-repeat;
    content: '';

    @include media-breakpoint-down(md) {
      content: none;
    }
  }

  &:after {
    top: 856px;
    right: 20px;
    left: auto;
    width: 296px;
    height: 223px;
    background-image: url('../img/homepage-feature-2-bg.svg');
  }

  @include media-breakpoint-down(md) {
    padding-top: 0;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    background: none;
  }

  &--last {
    padding-top: 0;
    padding-bottom: 150px;
    background: url('../img/homepage-bottom-bg.svg') no-repeat right 150px;

    @include media-breakpoint-down(md) {
      padding-bottom: 50px;
      background: none;
    }

    &:before, &:after {
      content: none;
    }
  }

  &-feature {
    margin-bottom: 60px;
  }

  &-title {
    margin: 40px 0 30px;
    font-size: 36px;
    line-height: 45px;
    font-weight: 400;
    color: $body-color;

    @include media-breakpoint-down(md) {
      margin: 0 0 15px;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &-subtitle {
    margin: 0 0 20px;
    font-size: 22px;
    line-height: 35px;
    font-weight: 500;
    color: $body-color;

    @include media-breakpoint-down(md) {
      margin-bottom: 9px;
      font-size: 18px;
      line-height: 35px;
    }
  }

  &-img {
    position: relative;
    display: block;
    float: right;
    margin-right: calc(-7% - #{$grid-gutter-width});
    margin-bottom: -73px;
    width: calc(114% + #{$grid-gutter-width});

    @include media-breakpoint-down(md) {
      width: 100%;
      margin: {
        right: 0;
        bottom: 0;
      }
    }

    &-container {
      &:before {
        position: absolute;
        top: -33px;
        right: -30px;
        width: 101px;
        height: 102px;
        background: url('../img/homepage-chart-bg.svg') no-repeat;
        content: '';

        @include media-breakpoint-down(md) {
          content: none;
        }
      }

      &:first-child {
        &:before {
          top: auto;
          right: auto;
          bottom: -98px;
          left: -53px;
          width: 142px;
          height: 142px;
          background-image: url('../img/homepage-poll-bg.svg');
        }
      }
    }

    &--wide {
      float: none;
      margin: {
        left: calc(-7% - #{$grid-gutter-width});
        right: 0;
        bottom: 0;
      }
      width: calc(172.5% + #{$grid-gutter-width});

      @include media-breakpoint-down(md) {
        margin-left: 0;
        width: 148%;
      }
    }

    &--small {
      float: none;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 213px;
      margin: 0 0 20px;
      width: 100%;

      @include media-breakpoint-down(md) {
        margin: 60px 0 0;
      }
    }
  }

  &-centered {
    text-align: center;

    .homepage-title {
      margin: 150px 0 100px;

      @include media-breakpoint-down(md) {
        margin: 50px 0;

        &--no-margin {
          margin: 50px 0 -30px;
        }
      }
    }
  }

  &-clients {
    position: relative;
    background: $white;
    box-shadow: $component-box-shadow-3;

    .custom-carousel--clients {
      @extend .list-unstyled;
      margin: 0 auto;
      padding: 0;

      @include media-breakpoint-down(md) {
        width: calc(100% - 40px);
      }

      .custom-carousel-item {
        display: block !important;
        padding: 0 10px;

        $clients: (tous, duka, iperfumy, douglas, adidas, tesco);

        a {
          display: block;
          height: 98px;
          background: no-repeat center;

          @each $client in $clients {
            &.#{$client} {
              background-image: url('../img/clients/#{$client}.png');
            }
          }

          @include media-breakpoint-down(md) {
            height: 153px;
          }
        }
      }

      .slick-arrow {
        top: 50%;
        left: -20px;
        width: 30px;
        height: 30px;
        background: url('../img/arrow-carousel-clients.svg');
        border-radius: 50%;
        transform: translateY(-50%);

        @include media-breakpoint-only(xs) {
          left: -30px;
        }

        &::before {
          content: none;
        }
      }

      .slick-next {
        left: auto;
        right: -20px;
        transform: translateY(-50%) rotateZ(180deg);

        @include media-breakpoint-only(xs) {
          right: -30px;
        }
      }
    }
  }

  p {
    margin: 0;

    ~ p {
      margin-top: 35px;
    }
  }
}
