.report {
  position: relative;

  &-question {
    margin: 60px 270px 60px 30px;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;

    @include media-breakpoint-down(lg) {
      margin-right: 30px;
      text-align: center;
    }
  }

  &-item {
    clear: both;
    overflow: hidden;
    margin: 0 0 50px 30px;
    cursor: pointer;

    @include media-breakpoint-down(lg) {
      margin: 25px 0 0;
      text-align: center;
    }

    &:first-child {
      margin-top: 100px;

      @include media-breakpoint-down(lg) {
        margin-top: 50px;
      }
    }

    &:last-child {
      @include media-breakpoint-down(lg) {
        margin-bottom: 30px;
      }
    }
  }

  &-image {
    float: left;
    margin-right: 35px;

    @include media-breakpoint-down(lg) {
      float: none;
      margin: 0 0 20px;
    }

    img {
      width: 51px;
    }
  }

  &-title {
    margin-bottom: 23px;
    font-size: 24px;
    line-height: 25px;

    @include media-breakpoint-down(lg) {
      font-size: 20px;
      line-height: 30px;
    }

    span {
      display: block;
      font-size: 18px;
      font-weight: 400;
      color: $gray-600;

      @include media-breakpoint-down(lg) {
        font-size: 14px;
      }
    }
  }

  &-compare {
    margin: 0;
    font-size: 14px;
    color: $text-muted;

    @include media-breakpoint-down(lg) {
      padding: 0 60px;
    }
  }

  &-header-middle {
    margin: 40px 0 100px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;

    @include media-breakpoint-down(lg) {
      margin: 0 0 30px;
      font-size: 24px;
      line-height: 28px;
    }
  }

  .dashboard-header {
    text-align: left;
  }

  .row {
    clear: both;
  }
}
