@font-face {
  font-family: 'soin_sans_neue';
  src: url('../fonts/stawix_-_soinsansneue-bold-webfont.woff2') format('woff2'),
  url('../fonts/stawix_-_soinsansneue-bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'soin_sans_neue';
  src: url('../fonts/stawix_-_soinsansneue-medium-webfont.woff2') format('woff2'),
  url('../fonts/stawix_-_soinsansneue-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'soin_sans_neue';
  src: url('../fonts/stawix_-_soinsansneue-roman-webfont.woff2') format('woff2'),
  url('../fonts/stawix_-_soinsansneue-roman-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'soin_sans_neue';
  src: url('../fonts/stawix_-_soinsansneue-light-webfont.woff2') format('woff2'),
  url('../fonts/stawix_-_soinsansneue-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/highlight.js/styles/github-gist';
@import '../../node_modules/slick-carousel/slick/slick.scss';
@import '../../node_modules/slick-carousel/slick/slick-theme.scss';

body {
  background: linear-gradient(0deg, #FFF 0%, #FBFCFF 60.35%, $blue-lightest 100%);
}

.container {
  @include media-breakpoint-only(xs) {
    padding: {
      left: 30px;
      right: 30px;
    }
  }
}

@import 'component-answer';
@import 'component-box';
@import 'component-button';
@import 'component-centered';
@import 'component-chart';
@import 'component-code';
@import 'component-contact';
@import 'component-custom-carousel';
@import 'component-dashboard';
@import 'component-dropdown';
@import 'component-header';
@import 'component-hero';
@import 'component-homepage';
@import 'component-footer';
@import 'component-form';
@import 'component-link';
@import 'component-message';
@import 'component-modal';
@import 'component-nav-tabs';
@import 'component-platforms';
@import 'component-poll';
@import 'component-prices';
@import 'component-progress';
@import 'component-report';
@import 'component-splash';
@import 'component-subheader';
@import 'component-table';
@import 'component-text';
