<div class="hero hero--bottom">
    <div class="container text-center">
        <h4 class="hero-title hero--bottom-title">Rozpocznij okres próbny</h4>

        <p class="hero-lead">Donec gravida tristique ullamcorper nordesin faucibus orci<br>luctus et ultrices posus.</p>

        <button href="#" class="hero-button">Załóż darmowe konto</button>
    </div>

    <div class="hero-bg hero--bottom-bg">
        <div class="hero-bg-inner hero--bottom-bg-inner"></div>
    </div>
</div>