<div class="hero-container">
<div class="hero">
    <div class="container text-center">
        <h2 class="hero-title">Co myślą Twoi klienci</h2>

        <p class="hero-lead">Sprawdź czy klienci są zadowoleni z Twoich usług. Badaj zadowolenie
            za pomocą prostych, automatycznych ankiet i otrzymuj czytelne raporty.</p>

        <button href="#" class="hero-button">Załóż darmowe konto</button>

        <img class="hero-image-main" src="img/homepage/laptop.png" alt="">
        <img class="hero-image-secondary" src="img/homepage/phone.png" alt="">
    </div>

    <div class="hero-bg">
        <div class="hero-bg-inner"></div>
    </div>
</div>
</div>