<tfoot>
    <tr>
        <td>
            To jest wiadomość automatyczna – nie odpowiadaj na nią.<br>Jeżeli potrzebujesz wsparcia, skorzystaj
            <a href="#">z pomocy dla Kupujących.</a><br><br>Pozdrawiamy, Zespół Satisto
        </td>
    </tr>
</tfoot>
