<div class="row">
    <div class="col-lg-4">
        <div class="box box--transparent">
            <span class="box-count">932</span>
            <h4>Wysłane <span>(ile maili zostało wysłanych)</span></h4>

            <span class="box-additional">vs. 500 maili w styczniu 2018</span>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="box box--transparent">
            <span class="box-count">321</span>
            <h4>Otwarte <span>(ile osób otworzyło maila)</span></h4>

            <span class="box-additional">vs. 248 maili w styczniu 2018</span>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="box box--transparent">
            <span class="box-count">280</span>
            <h4>Ocenione <span>(ile osób klinęło w ankietę)</span></h4>

            <span class="box-additional">vs. 198 maili w styczniu 2018</span>
        </div>
    </div>
</div>
