<a href="#" class="btn btn-outline-secondary btn-sm btn--report">Wróć</a>

<div class="row">
    <div class="col-xl-3">
        <h2 class="dashboard-header">Porównywarka raportów</h2>
    </div>

    <div class="col-lg-2 dropdown-label">Wybierz zakres:</div>

    <div class="col-lg-4 col-xl-3">
        <div class="dropdown">
            <button class="btn btn-white btn-block btn dropdown-toggle" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Obecny tydzień
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Dzisiaj</a>
                <a class="dropdown-item" href="#">Tydzień</a>
                <a class="dropdown-item" href="#">30 dni</a>
                <a class="dropdown-item" href="#">Bieżący Rok</a>
                <a class="dropdown-item" href="#">Od początku</a>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-xl-1 dropdown-label">Porównaj z:</div>

    <div class="col-lg-4 col-xl-3">
        <div class="dropdown">
            <button class="btn btn-white btn-block btn dropdown-toggle" type="button"
                    id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                08.01.2018 - 14.01.2018
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <a class="dropdown-item" href="#">Wczoraj</a>
                <a class="dropdown-item" href="#">Zeszły tydzień</a>
                <a class="dropdown-item" href="#">Ostatnie 30 dni</a>
                <a class="dropdown-item" href="#">Zeszły Rok</a>
            </div>
        </div>
    </div>
</div>
