<div class="answer">
    <div class="answer-img-top">
        <img src="img/card2-bg.svg" alt="">
    </div>
    <div class="answer-body">
        <h5 class="answer-title">marek.kopytko@gmail.com<br>
            Zamówienie nr 9876554/09</h5>
        <h6 class="answer-subtitle">28.12.2017</h6>
        <p class="answer-text">Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna.Ut laoreet
            sodales nisi, quis iaculis nulla iaculis vitae. Donec sag dunt urna non pretium porta condimen.</p>
    </div>
</div>
