<div class="box">
    <h3 class="box-title float-left">Udzielone odpowiedzi <small>skala tygodnia</small></h3>

    <ul class="chart-legend chart-legend--right">
        <li class="chart-legend-item chart-legend-item--good">Dobrze</li>
        <li class="chart-legend-item chart-legend-item--neutral">Średnio</li>
        <li class="chart-legend-item chart-legend-item--bad">Słabo</li>
    </ul>

    <canvas class="chart-line" width="1000" height="341"
            data-dataset-good="[0, 140, 260, 220, 300, 350, 360]"
            data-dataset-medium="[0, 40, 100, 125, 45, 60, 110]"
            data-dataset-bad="[0, 10, 35, 30, 40, 80, 30]"></canvas>
</div>
