<div class="box">
    <div class="row">
        <div class="col-lg-6">
            <div class="chart-donut-container">
                <canvas class="chart-donut-2" width="800" height="425" data-dataset="[60, 25, 15]"></canvas>
            </div>
        </div>

        <div class="col-lg-6">
            <h2 class="report-question">"Czy jesteś zadowolona/y z zakupów w naszym sklepie?"</h2>

            <div class="report-item">
                <div class="report-image">
                    <img src="img/card1-bg.svg" alt="">
                </div>

                <div class="float-xl-left">
                    <h3 class="report-title">60% (553 głosy) <span>Jestem bardzo zadowolona/y!</span></h3>

                    <p class="report-compare">vs. 58% (500 głosów) w styczniu 2018</p>
                </div>
            </div>

            <div class="report-item">
                <div class="report-image">
                    <img src="img/card2-bg.svg" alt="">
                </div>

                <div class="float-xl-left">
                    <h3 class="report-title">25% (223 głosy) <span>Raczej średnio</span></h3>

                    <p class="report-compare">vs. 18% (187 głosów) w styczniu 2018</p>
                </div>
            </div>

            <div class="report-item">
                <div class="report-image">
                    <img src="img/card3-bg.svg" alt="">
                </div>

                <div class="float-xl-left">
                    <h3 class="report-title">15% (134 głosy) <span>Nie zamierzam tutaj robić więcej zakupów.</span></h3>

                    <p class="report-compare">vs. 24% (187 głosów) w styczniu 2018</p>
                </div>
            </div>
        </div>
    </div>
</div>
