<ul class="dashboard-menu">
    <li class="dashboard-menu-item">
        <a class="link-edit" href="#">Edytuj ankietę</a>
    </li>

    <li class="dashboard-menu-item">
        <a class="link-copy" href="#">Kopiuj skrypt</a>
    </li>
</ul>
