<div class="dropdown dropdown--lg">
    <button class="btn btn-white btn-block btn dropdown-toggle" type="button"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="poll-icon">M</span>
        <strong>Minterde shop</strong>
        <span class="d-none d-md-inline">- informacje zakupowe, ostatnia aktualizacja  22.02.2017r.</span>
        <span class="d-block d-md-none">aktualizacja  22.02.2017r.</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">
            <span class="poll-icon">S</span>
            <strong>Some other shop</strong>
            <span class="d-none d-md-inline">- informacje zakupowe, ostatnia aktualizacja  22.02.2017r.</span>
            <span class="d-block d-md-none">aktualizacja  22.02.2017r.</span>
        </a>

        <a class="dropdown-item" href="#">
            <span class="poll-icon">A</span>
            <strong>Another shop</strong>
            <span class="d-none d-md-inline">- informacje zakupowe, ostatnia aktualizacja  22.02.2017r.</span>
            <span class="d-block d-md-none">aktualizacja  22.02.2017r.</span>
        </a>
    </div>
</div>
