<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-last order-lg-first footer-flex">
                <a class="header-brand d-none d-lg-block" href="#">
                    <svg width="275px" height="81px" viewBox="0 0 275 81" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                        <title>satisto-logo-color</title>
                        <desc>Created with Sketch.</desc>
                        <defs>
                            <linearGradient x1="18.8032366%" y1="100%" x2="100%" y2="16.2999686%" id="linearGradient-1">
                                <stop stop-color="#7BADF6" offset="0%"></stop>
                                <stop stop-color="#7DA4FF" offset="100%"></stop>
                            </linearGradient>
                            <linearGradient x1="85.5201558%" y1="-0.220417138%" x2="0%" y2="83.4495062%" id="linearGradient-2">
                                <stop stop-color="#7BADF6" offset="0%"></stop>
                                <stop stop-color="#7DA4FF" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <g id="Artboard-6-Copy-5" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-250.000000, -208.000000)">
                            <g id="satisto-logo-color" transform="translate(250.000000, 208.000000)">
                                <g id="Group-14-Copy">
                                    <path d="M11.7556657,53 L53,7.90084768 C47.1644804,2.61156399 39.8381991,0 32.5336246,0 C24.2732712,-0.000226560596 16.0402774,3.33905007 10.0197976,9.92244788 C-1.32450849,22.3273202 -0.533113635,41.5706976 11.7556657,53 Z" id="Clip-2-Copy-4" fill="url(#linearGradient-1)"></path>
                                    <path d="M0,73.0990699 C12.4344099,84.3695328 31.6359317,83.4823231 42.9800243,71.0774734 C54.3245692,58.6726238 53.5331735,39.4292815 41.2441543,28 L0,73.0990699 Z" id="Clip-5-Copy-4" fill="url(#linearGradient-2)"></path>
                                    <text id="satisto-copy-21" font-family="soin_sans_neue" font-size="70" font-weight="400" letter-spacing="-1.21000004" fill="#5F5F5F">
                                        <tspan x="76.5750001" y="55">satist</tspan>
                                        <tspan x="239.205" y="55">o</tspan>
                                    </text>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>

                <small class="footer-copy">Morbi vitae suscipit metus. Aenean tincidunt suscipit nulla vitae
                    pulvinar.<br>2018 © Satisto. All rights reserved.</small>
            </div>

            <div class="col-sm-4 col-lg-2">
                <h6 class="footer-header">Customer service</h6>

                <ul class="footer-links">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Terms of use</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>

            <div class="col-sm-3 offset-sm-1 col-lg-2 offset-lg-0">
                <h6 class="footer-header">Satisto</h6>

                <ul class="footer-links">
                    <li><a href="#">O nas</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </div>

            <div class="col-sm-3 offset-sm-1 col-lg-2 offset-lg-0">
                <h6 class="footer-header d-block d-sm-none">Płatności</h6>

                <ul class="footer-links">
                    <li><a href="#" class="footer-payment"><span class="sr-only">Przelewy24</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
