<div class="row">
    <div class="col-xl-1">
        <a href="#" class="btn btn-outline-secondary btn-sm btn--back-2">Wróć</a>
    </div>

    <div class="col-lg-3 col-xl-2 offset-xl-1">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFileLang">
            <label class="custom-file-label" for="customFileLang">Wczytaj logo</label>
        </div>
    </div>

    <div class="col-lg-6 col-xl-4">
        <form>
            <div class="form-group form-group--float-label">
                <input type="text" class="form-control" id="name11">
                <label for="name11">Imię i Nazwisko</label>
            </div>
            <div class="form-group form-group--float-label">
                <input type="email" class="form-control" id="email">
                <label for="email">Adres email</label>
            </div>
            <div class="form-group form-group--float-label">
                <input type="text" class="form-control" id="name2">
                <label for="name2">Nazwa sklepu</label>
            </div>
            <div class="form-group form-group--float-label">
                <input type="email" class="form-control" id="email2">
                <label for="email2">Adres email sklepu</label>
            </div>
            <div class="form-group form-group--float-label">
                <input type="password" class="form-control" id="pass">
                <label for="pass">Hasło</label>
            </div>
            <div class="form-group form-group--float-label">
                <input type="password" class="form-control" id="pass2">
                <label for="pass2">Powtórz hasło</label>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Zapisz zmiany</button>

            <button type="button" class="btn btn--delete"
                    data-toggle="modal" data-target="#accountRemoveModal">Usuń konto</button>
        </form>
    </div>
</div>
