<div class="row">
    <div class="col-xl-1">
        <a href="#" class="btn btn-outline-secondary btn-sm btn--back-2">Wróć</a>
    </div>

    <div class="col-lg-3 col-xl-2 offset-xl-1">
        <div class="custom-file is-invalid">
            <input type="file" class="custom-file-input" id="customFileLang">
            <label class="custom-file-label" for="customFileLang">Wczytaj logo</label>

            <div class="invalid-feedback">
                Za duży obraz, maksymalnie 2mb.
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-4">
        <form>
            <div class="form-group form-group--float-label">
                <input type="text" class="form-control" id="name21" value="Henryk Nowak">
                <label for="name21">Imię i Nazwisko</label>
            </div>
            <div class="form-group form-group--float-label">
                <input type="email" class="form-control" id="email" value="adres@mail.com">
                <label for="email">Adres email</label>
            </div>
            <div class="form-group form-group--float-label">
                <input type="text" class="form-control" id="name2" value="Sklep sklep">
                <label for="name2">Nazwa sklepu</label>
            </div>
            <div class="form-group form-group--float-label">
                <input type="email" class="form-control is-invalid" id="email2" value="sklep@mail.com">
                <label for="email2">Adres email sklepu</label>

                <div class="invalid-feedback">
                    Niepoprawny adres email. <a href="#">Czy chodziło Ci o: sklep@mail.com</a>?
                </div>
            </div>
            <div class="form-group form-group--float-label">
                <input type="password" class="form-control" id="pass" value="1234567890">
                <label for="pass">Hasło</label>
            </div>
            <div class="form-group form-group--float-label">
                <input type="password" class="form-control is-invalid" id="pass2" value="1234567890">
                <label for="pass2">Powtórz hasło</label>

                <div class="invalid-feedback">
                    Niepoprawne hasło.
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Zapisz zmiany</button>

            <button type="button" class="btn btn--delete"
                    data-toggle="modal" data-target="#accountRemoveModal">Usuń konto</button>
        </form>
    </div>
</div>
