<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="box box--last">
            <h3 class="box-title box-title--alt">Potwierdzenie zakupu</h3>

            <div class="d-none d-lg-block">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Data</th>
                        <th>Numer zamówienia</th>
                        <th>Faktura VAT</th>
                        <th>Kwota</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>21.11.2017</td>
                        <td>5484041125089415-1 </td>
                        <td>3485912312</td>
                        <td>97zł</td>
                    </tr>
                    <tr>
                        <td>21.10.2017</td>
                        <td>4813041125051488-1 </td>
                        <td>5418912458</td>
                        <td>97zł</td>
                    </tr>
                    <tr>
                        <td>23.09.2017</td>
                        <td>2693041125405487-1 </td>
                        <td>3214915487</td>
                        <td>47zł</td>
                    </tr>
                    <tr>
                        <td>23.08.2017</td>
                        <td>458446848464868-1 </td>
                        <td>5123458845</td>
                        <td>47zł</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="d-block d-lg-none">
                <div class="dropdown dropdown--card">
                    <button class="btn btn-white btn-block btn dropdown-toggle collapsed" type="button" data-toggle="collapse"
                            data-target="#dropdownMenuOrder" aria-expanded="false" aria-controls="dropdownMenuOrder">
                        Nr. 5484041125089415-1
                    </button>

                    <div class="collapse-menu collapse" id="dropdownMenuOrder">
                        <p>
                            <strong>Data:</strong> 21.11.2017
                        </p>
                        <p>
                            <strong>Faktura:</strong> 3485912312
                        </p>
                        <p>
                            <strong>Kwota:</strong> 97zł
                        </p>
                    </div>
                </div>

                <div class="dropdown dropdown--card">
                    <button class="btn btn-white btn-block btn dropdown-toggle collapsed" type="button" data-toggle="collapse"
                            data-target="#dropdownMenuOrder2" aria-expanded="false" aria-controls="dropdownMenuOrder2">
                        Nr. 4813041125051488-1
                    </button>

                    <div class="collapse-menu collapse" id="dropdownMenuOrder2">
                        <p>
                            <strong>Data:</strong> 21.10.2017
                        </p>

                        <p>
                            <strong>Faktura:</strong> 5418912458
                        </p>

                        <p>
                            <strong>Kwota:</strong> 97zł
                        </p>
                    </div>
                </div>

                <div class="dropdown dropdown--card">
                    <button class="btn btn-white btn-block btn dropdown-toggle collapsed" type="button" data-toggle="collapse"
                            data-target="#dropdownMenuOrder3" aria-expanded="false" aria-controls="dropdownMenuOrder3">
                        Nr. 2693041125405487-1
                    </button>

                    <div class="collapse-menu collapse" id="dropdownMenuOrder3">
                        <p>
                            <strong>Data:</strong> 21.09.2017
                        </p>

                        <p>
                            <strong>Faktura:</strong> 3214915487
                        </p>

                        <p>
                            <strong>Kwota:</strong> 47zł
                        </p>
                    </div>
                </div>

                <div class="dropdown dropdown--card">
                    <button class="btn btn-white btn-block btn dropdown-toggle collapsed" type="button" data-toggle="collapse"
                            data-target="#dropdownMenuOrder4" aria-expanded="false" aria-controls="dropdownMenuOrder4">
                        Nr. 458446848464868-1
                    </button>

                    <div class="collapse-menu collapse" id="dropdownMenuOrder4">
                        <p>
                            <strong>Data:</strong> 21.08.2017
                        </p>

                        <p>
                            <strong>Faktura:</strong> 5123458845
                        </p>

                        <p>
                            <strong>Kwota:</strong> 47zł
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
