<div class="row justify-content-center">
    <div class="col-lg-6">
        <form>
            <div class="form-group form-group--float-label">
                <input type="text" class="form-control" id="name44">
                <label for="name44">Imię i Nazwisko</label>
            </div>

            <div class="form-group form-group--float-label">
                <input type="text" class="form-control" id="company">
                <label for="company">Nazwa firmy lub imię i nazwisko</label>
            </div>

            <div class="form-group form-group--float-label">
                <input type="text" class="form-control" id="nip">
                <label for="nip">NIP</label>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="form-group form-group--float-label">
                        <input type="text" class="form-control" id="street">
                        <label for="street">Ulica</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group form-group--float-label">
                        <input type="text" class="form-control" id="street_number">
                        <label for="street_number">Nr domu / lokalu</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group form-group--float-label">
                        <input type="text" class="form-control" id="postcode">
                        <label for="postcode">Kod pocztowy</label>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="form-group form-group--float-label">
                        <input type="text" class="form-control" id="city">
                        <label for="city">Miasto</label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Zapłać z przelewy 24</button>
        </form>
    </div>
</div>
