<div class="nav-tabs-container">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-pakiet-miesieczny2" data-toggle="tab" href="#pakiet-miesieczny2"
           role="tab" aria-controls="nav-home" aria-selected="true">Pakiet<br> miesięczny</a>
        <a class="nav-item nav-link" id="nav-pakiet-roczny2" data-toggle="tab" href="#pakiet-roczny2"
           role="tab" aria-controls="nav-home" aria-selected="true">Pakiet<br> roczny <span>(-15%)</span></a>
    </div>

    <div class="tab-content prices" id="nav-tabContent2">
        <div class="tab-pane fade show active" id="pakiet-miesieczny2" role="tabpanel"
             aria-labelledby="nav-pakiet-miesieczny2">
            <div class="form-buy">
                <div class="form-check-label prices-item">
                    <span class="float-left">100 maili</span>
                    <span class="float-right">9zł</span>
                </div>
                <div class="form-check-label prices-item">
                    <span class="float-left">200 maili</span>
                    <span class="float-right">17zł</span>
                </div>
                <div class="form-check-label prices-item">
                    <span class="float-left">500 maili</span>
                    <span class="float-right">27zł</span>
                </div>
                <div class="form-check-label prices-item">
                    <span class="float-left">1000 maili</span>
                    <span class="float-right">47zł</span>
                </div>
                <div class="form-check-label prices-item">
                    <span class="float-left">2500 maili</span>
                    <span class="float-right">97zł</span>
                </div>
                <div class="form-check-label prices-item">
                    <span class="float-left">5000 maili</span>
                    <span class="float-right">177zł</span>
                </div>
                <div class="form-check-label prices-item">
                    <span class="float-left">10000 maili</span>
                    <span class="float-right">277zł</span>
                </div>

                <p class="text-right text-muted">cena netto</p>
                <button type="submit" class="btn btn-primary btn-block">Wypróbuj za darmo</button>
            </div>
            <br>
            <div class="text-center">
                <a href="#" class="my-0 link-next">
                    Jeśli potrzebujesz czegoś więcej, skontaktuj się z nami
                </a>
            </div>
        </div>
        <div class="tab-pane fade" id="pakiet-roczny2" role="tabpanel" aria-labelledby="nav-pakiet-roczny2">
            <div class="form-buy">
                <div class="form-check-label prices-item">
                    <span class="float-left">100 maili</span>
                    <span class="float-right">99zł</span>
                    <small class="prices-save">Taniej o 11zł</small>
                </div>
                <div class="form-check-label prices-item">
                    <span class="float-left">200 maili</span>
                    <span class="float-right">177zł</span>
                    <small class="prices-save">Taniej o 27zł</small>
                </div>
                <div class="form-check-label prices-item">
                    <span class="float-left">500 maili</span>
                    <span class="float-right">277zł</span>
                    <small class="prices-save">Taniej o 47zł</small>
                </div>
                <div class="form-check-label prices-item">
                    <span class="float-left">1000 maili</span>
                    <span class="float-right">477zł</span>
                    <small class="prices-save">Taniej o 68zł</small>
                </div>
                <div class="form-check-label prices-item">
                    <span class="float-left">2500 maili</span>
                    <span class="float-right">977zł</span>
                    <small class="prices-save">Taniej o 119zł</small>
                </div>
                <div class="form-check-label prices-item">
                    <span class="float-left">5000 maili</span>
                    <span class="float-right">1777zł</span>
                    <small class="prices-save">Taniej o 457zł</small>
                </div>
                <div class="form-check-label prices-item">
                    <span class="float-left">10000 maili</span>
                    <span class="float-right">2777zł</span>
                    <small class="prices-save">Taniej o 750zł</small>
                </div>

                <p class="text-right text-muted">cena netto</p>
                <button type="submit" class="btn btn-primary btn-block">Wypróbuj za darmo</button>
            </div>
            <br>
            <div class="text-center">
                <a href="#" class="my-0 link-next">
                    Jeśli potrzebujesz czegoś więcej, skontaktuj się z nami
                </a>
            </div>
        </div>
    </div>
</div>
