<div class="nav-tabs-container">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-pakiet-miesieczny" data-toggle="tab" href="#pakiet-miesieczny"
           role="tab" aria-controls="nav-home" aria-selected="true">Pakiet<br> miesięczny</a>
        <a class="nav-item nav-link" id="nav-pakiet-roczny" data-toggle="tab" href="#pakiet-roczny"
           role="tab" aria-controls="nav-home" aria-selected="true">Pakiet<br> roczny <span>(-15%)</span></a>
    </div>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="pakiet-miesieczny" role="tabpanel"
             aria-labelledby="nav-pakiet-miesieczny">
            <form class="form-buy">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="radio1" value="option1">
                    <label class="form-check-label" for="radio1">
                        <span class="float-left">100 maili</span>
                        <span class="float-right">9zł</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="radio2" value="option2">
                    <label class="form-check-label" for="radio2">
                        <span class="float-left">200 maili</span>
                        <span class="float-right">17zł</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="radio3" value="option3">
                    <label class="form-check-label" for="radio3">
                        <span class="float-left">500 maili</span>
                        <span class="float-right">27zł</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="radio4" value="option4">
                    <label class="form-check-label" for="radio4">
                        <span class="float-left">1000 maili</span>
                        <span class="float-right">47zł</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="radio5" value="option5">
                    <label class="form-check-label" for="radio5">
                        <span class="float-left">2500 maili</span>
                        <span class="float-right">97zł</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="radio6" value="option6">
                    <label class="form-check-label" for="radio6">
                        <span class="float-left">5000 maili</span>
                        <span class="float-right">177zł</span>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="radio7" value="option7">
                    <label class="form-check-label" for="radio7">
                        <span class="float-left">10000 maili</span>
                        <span class="float-right">277zł</span>
                    </label>
                </div>

                <p class="text-right text-muted"><small>cena netto</small></p>
                <button type="submit" class="btn btn-primary btn-block" disabled>Kup teraz</button>
            </form>
            <br>
            <div class="text-lg-center">
                <a href="#" class="my-0 link-next">
                    Jeśli potrzebujesz czegoś więcej, skontaktuj się z nami
                </a>
            </div>
        </div>
        <div class="tab-pane fade" id="pakiet-roczny" role="tabpanel" aria-labelledby="nav-pakiet-roczny">
            <form class="form-buy">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="radio8" value="option1">
                    <label class="form-check-label" for="radio8">
                        <span class="float-left">100 maili</span>
                        <span class="float-right">9zł</span>
                        <small class="prices-save">Taniej o 11zł</small>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="radio9" value="option2">
                    <label class="form-check-label" for="radio9">
                        <span class="float-left">200 maili</span>
                        <span class="float-right">17zł</span>
                        <small class="prices-save">Taniej o 27zł</small>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="radio10" value="option3">
                    <label class="form-check-label" for="radio10">
                        <span class="float-left">500 maili</span>
                        <span class="float-right">27zł</span>
                        <small class="prices-save">Taniej o 47zł</small>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="radio11" value="option4">
                    <label class="form-check-label" for="radio11">
                        <span class="float-left">1000 maili</span>
                        <span class="float-right">47zł</span>
                        <small class="prices-save">Taniej o 68zł</small>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="radio12" value="option5">
                    <label class="form-check-label" for="radio12">
                        <span class="float-left">2500 maili</span>
                        <span class="float-right">97zł</span>
                        <small class="prices-save">Taniej o 119zł</small>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="radio13" value="option6">
                    <label class="form-check-label" for="radio13">
                        <span class="float-left">5000 maili</span>
                        <span class="float-right">177zł</span>
                        <small class="prices-save">Taniej o 457zł</small>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="radio14" value="option7">
                    <label class="form-check-label" for="radio14">
                        <span class="float-left">10000 maili</span>
                        <span class="float-right">277zł</span>
                        <small class="prices-save">Taniej o 750zł</small>
                    </label>
                </div>

                <p class="text-right text-muted"><small>cena netto</small></p>
                <button type="submit" class="btn btn-primary btn-block" disabled>Kup teraz</button>
            </form>
            <br>
            <div class="text-lg-center">
                <a href="#" class="my-0 link-next">
                    Jeśli potrzebujesz czegoś więcej, skontaktuj się z nami
                </a>
            </div>
        </div>
    </div>
</div>
