<div class="message message--danger">
    <div class="container">
        Zostało do wysłania 25 maili, kliknij aby kupić nowy pakiet.
        <span class="message-close">
            <span class="sr-only">Zamknij</span>
        </span>
    </div>
</div>
