<div class="message message--danger">
    <div class="container">
        Zostało 2 dni okresu próbnego, dokup pakiet maili by dalej korzystać z Satisto
        <span class="message-close">
            <span class="sr-only">Zamknij</span>
        </span>
    </div>
</div>
