<div class="message message--success">
    <div class="container">
        Zmiany dotyczące Twojego konta zostały zapisane
        <span class="message-close">
            <span class="sr-only">Zamknij</span>
        </span>
    </div>
</div>
