<ul class="subheader">
    <li class="subheader-item">01. <span>Informacje</span></li>
    <li class="subheader-item">02. <span>Edycja</span></li>
    <li class="subheader-item active">03. <span>Kopiuj skrypt</span></li>
</ul>
