<div class="row justify-content-center">
    <div class="col-lg-6 col-xl-4">
        <div class="box--modal-spacing">
            <div class="box">
                <h3 class="box-title">Stwórz ankietę</h3>

                <form>
                    <p class="input-hint">Podaj nazwę swojego sklepu internetowego</p>
                    <div class="input-group input-group--float-label">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-group-text--cart"></span>
                        </div>
                        <input type="text" class="form-control" id="name15">
                        <label for="name15">Nazwa sklepu</label>
                    </div>

                    <p class="input-hint">Ten adres będzie służył do wysyłki maili do klientów.</p>
                    <div class="input-group input-group--float-label">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-group-text--email"></span>
                        </div>
                        <input type="text" class="form-control" id="email16">
                        <label for="email16">Adres email sklepu</label>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Stwórz ankietę</button>
                </form>
            </div>
        </div>
    </div>
</div>
