<div class="row justify-content-center">
    <div class="col-lg-8 col-xl-6">
        <div class="box--modal-spacing box--modal-spacing-white">
            <form>
                <div class="box box--no-border">
                    <h3 class="box-title">Instrukcja wklejenia kodu</h3>

                    <div class="code-instructions">
                        <ol>
                            <li>Zaloguj się do <strong>panelu zarządzania</strong> swoim sklepem.</li>

                            <li>Kliknij na <strong>ustawienia</strong> i z menu wybierz opcję
                                <strong>"Dodaj własny kod HTML"</strong>.</li>

                            <li>Wklej poniższy kod w miejscu przeznaczonym na HTML i zaznacz opcję
                                <strong>"Uruchamiaj na stronie podziękowania za zamówienie"</strong>.</li>
                        </ol>
                    </div>

                    <div class="code-content">
                        <pre><code class="javascript">&lt;script&gt;
    function start() {
        // Initializes the client with the API key and the Translate API.
        gapi.client.init({
            'apiKey': 'minterde-108',
            'discoveryDocs': ['https://www.satistoapis.com//v1/apis//v2']
        }).then(function () {
            // Executes an API request, and returns a Promise.
            // The method name 'language.translations.list' comes from.
            return gapi.client.language.translations.list({
                q: 'hello world',
                source: 'en',
                target: 'pl'
            });
        });
    }
&lt;/script&gt;</code></pre>
                    </div>
                </div>

                <div class="box-button-group-2">
                    <button type="button" class="float-sm-left btn btn-outline-primary btn--padded-2">Kopiuj kod</button>
                    <button type="button" class="float-sm-right btn btn-primary btn--padded-2">Dalej</button>
                </div>
            </form>
        </div>
    </div>
</div>
