<div class="row justify-content-center">
    <div class="col-lg-8 col-xl-6">
        <div class="box--modal-spacing box--modal-spacing-white">
            <form>
                <div class="box box--no-border">
                    <h3 class="box-title">Na jakiej platformie lub na jakim skrypcie<br>działa Twój e-biznes?</h3>

                    <div class="platforms">
                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform1" value="option1">
                            <label class="custom-control-label bigcommerce" for="platform1">
                                <span class="sr-only">bigcommerce</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform2" value="option2">
                            <label class="custom-control-label weebly" for="platform2">
                                <span class="sr-only">weebly</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform3" value="option3">
                            <label class="custom-control-label kentico" for="platform3">
                                <span class="sr-only">kentico</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform4" value="option4">
                            <label class="custom-control-label big-cartel" for="platform4">
                                <span class="sr-only">bigcartel</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform5" value="option5">
                            <label class="custom-control-label shopify" for="platform5">
                                <span class="sr-only">shopify</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform6" value="option6">
                            <label class="custom-control-label threedcart" for="platform6">
                                <span class="sr-only">3dcart</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform7" value="option7">
                            <label class="custom-control-label cstore" for="platform7">
                                <span class="sr-only">cstore</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform8" value="option8">
                            <label class="custom-control-label magento" for="platform8">
                                <span class="sr-only">magento</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform9" value="option9">
                            <label class="custom-control-label shopmatic" for="platform9">
                                <span class="sr-only">shopmatic</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform10" value="option10">
                            <label class="custom-control-label sote" for="platform10">
                                <span class="sr-only">sote</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform11" value="option11">
                            <label class="custom-control-label wix" for="platform11">
                                <span class="sr-only">wix</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform12" value="option12">
                            <label class="custom-control-label volusion" for="platform12">
                                <span class="sr-only">volusion</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform13" value="option13">
                            <label class="custom-control-label shopsite" for="platform13">
                                <span class="sr-only">shopsite</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform14" value="option14">
                            <label class="custom-control-label redcart" for="platform14">
                                <span class="sr-only">redcart</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform15" value="option15">
                            <label class="custom-control-label iaishop" for="platform15">
                                <span class="sr-only">iaishop</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform16" value="option16">
                            <label class="custom-control-label shoplo" for="platform16">
                                <span class="sr-only">shoplo</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform17" value="option17">
                            <label class="custom-control-label woocommerce" for="platform17">
                                <span class="sr-only">woocommerce</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform18" value="option18">
                            <label class="custom-control-label prestashop" for="platform18">
                                <span class="sr-only">prestashop</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform19" value="option19">
                            <label class="custom-control-label sky-shop" for="platform19">
                                <span class="sr-only">sky-shop</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform20" value="option20">
                            <label class="custom-control-label home" for="platform20">
                                <span class="sr-only">home</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform21" value="option21">
                            <label class="custom-control-label shoper" for="platform21">
                                <span class="sr-only">shoper</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform22" value="option22">
                            <label class="custom-control-label shopgold" for="platform22">
                                <span class="sr-only">shopgold</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform23" value="option23">
                            <label class="custom-control-label opencart" for="platform23">
                                <span class="sr-only">opencart</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio custom-radio--lg">
                            <input class="custom-control-input" type="radio"
                                   name="platforms" id="platform24" value="option24">
                            <label class="custom-control-label inna" for="platform24">
                                <span class="sr-only">inna</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="box-button-group-2">
                    <div class="float-sm-left form-check">
                        <input class="form-check-input" type="checkbox"
                               name="remember" id="remember">
                        <label class="form-check-label" for="remember">Zapamiętaj mój wybór</label>
                    </div>

                    <button type="button" class="float-sm-right btn btn-primary btn--padded-2">Dalej</button>
                </div>
            </form>
        </div>
    </div>
</div>
