<div class="row justify-content-center">
    <div class="col-lg-8 col-xl-6">
        <div class="box--modal-spacing box--modal-spacing-white">
            <div class="box box--no-border">
                <form>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group form-group--spaced form-group--float-label">
                                <input type="text" class="form-control" id="subject"
                                       placeholder="Temat: Podziel się z nami swoją opinią">
                                <label for="subject">Temat</label>
                            </div>

                            <div class="form-group form-group--float-label">
                                <textarea class="form-control" id="msg" rows="4"
                                          placeholder="Wiadomość: Twoja opinia jest dla nas niezwykle ważna. Powiedz nam proszę jak przebiegły Ci zakupy w sklepie Mintishop."></textarea>
                                <label for="msg">Wiadomość</label>
                            </div>
                        </div>

                        <div class="col-lg-4 order-first order-lg-last">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFileLang">
                                <label class="custom-file-label" for="customFileLang">Wczytaj logo</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group form-group--spaced form-group--answer form-group--answer-good form-group--float-label">
                                <input type="text" class="form-control" id="poll-good" placeholder="Opinia: Bardzo dobrze, jestem zadowolony/a.">
                                <label for="poll-good">Opinia</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="dropdown form-group--answer-mobile">
                                <button class="btn btn-white btn-block btn dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Wybierz akcję
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" data-custom-toggle="input-good-1"
                                       data-custom-toggle-group="input-good">Podziękowanie</a>
                                    <a class="dropdown-item" href="#" data-custom-toggle="input-good-2"
                                       data-custom-toggle-group="input-good">Podziękowanie + odpowiedź otwarta</a>
                                    <a class="dropdown-item" href="#" data-custom-toggle="input-good-3"
                                       data-custom-toggle-group="input-good">Przeniesienie na URL z podziękowaniem</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8" data-custom-toggled-group="input-good">
                            <div class="form-group form-group--spaced form-group--answer"
                                 data-custom-toggled="input-good-1-toggle">
                                <input type="text" class="form-control" id="poll-good-thanks" placeholder="Wpisz swoje podziękowania">
                            </div>

                            <div class="form-group form-group--spaced form-group--answer"
                                 data-custom-toggled="input-good-2-toggle">
                                <input type="text" class="form-control" id="poll-good-thanks-answer" placeholder="Wpisz swoje podziękowania">
                            </div>

                            <div class="form-group form-group--spaced form-group--answer"
                                 data-custom-toggled="input-good-3-toggle">
                                <input type="text" class="form-control" id="poll-good-url" placeholder="Dodaj adres url (www) z podziękowaniem">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group form-group--spaced form-group--answer form-group--answer-medium form-group--float-label">
                                <input type="text" class="form-control" id="poll-medium" placeholder="Opinia: No średnio, mogło być lepiej">
                                <label for="poll-medium">Opinia</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="dropdown form-group--answer-mobile">
                                <button class="btn btn-white btn-block btn dropdown-toggle" type="button"
                                        id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Wybierz akcję
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                    <a class="dropdown-item" href="#" data-custom-toggle="input-medium-1"
                                       data-custom-toggle-group="input-medium">Podziękowanie</a>
                                    <a class="dropdown-item" href="#" data-custom-toggle="input-medium-2"
                                       data-custom-toggle-group="input-medium">Podziękowanie + odpowiedź otwarta</a>
                                    <a class="dropdown-item" href="#" data-custom-toggle="input-medium-3"
                                       data-custom-toggle-group="input-medium">Przeniesienie na URL z podziękowaniem</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8" data-custom-toggled-group="input-medium">
                            <div class="form-group form-group--spaced form-group--answer"
                                 data-custom-toggled="input-medium-1-toggle">
                                <input type="text" class="form-control" id="poll-medium-thanks" placeholder="Wpisz swoje podziękowania">
                            </div>

                            <div class="form-group form-group--spaced form-group--answer"
                                 data-custom-toggled="input-medium-2-toggle">
                                <input type="text" class="form-control" id="poll-medium-thanks-answer" placeholder="Wpisz swoje podziękowania">
                            </div>

                            <div class="form-group form-group--spaced form-group--answer"
                                 data-custom-toggled="input-medium-3-toggle">
                                <input type="text" class="form-control" id="poll-medium-url" placeholder="Dodaj adres url (www) z podziękowaniem">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group form-group--spaced form-group--answer form-group--answer-bad form-group--float-label">
                                <input type="text" class="form-control" id="poll-bad" placeholder="Opinia: Źle, nie jestem zadowolony/a z zakupów">
                                <label for="poll-bad">Opinia</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="dropdown form-group--answer-mobile">
                                <button class="btn btn-white btn-block btn dropdown-toggle" type="button"
                                        data-custom-toggle-group="input-bad" data-custom-toggle="input-bad-3"
                                        id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Przeniesienie na URL z podziękowaniem
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                    <a class="dropdown-item" href="#" data-custom-toggle="input-bad-1"
                                       data-custom-toggle-group="input-bad">Podziękowanie</a>
                                    <a class="dropdown-item" href="#" data-custom-toggle="input-bad-2"
                                       data-custom-toggle-group="input-bad">Podziękowanie + odpowiedź otwarta</a>
                                    <a class="dropdown-item" href="#" data-custom-toggle="input-bad-3"
                                       data-custom-toggle-group="input-bad">Przeniesienie na URL z podziękowaniem</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8" data-custom-toggled-group="input-bad">
                            <div class="form-group form-group--spaced form-group--answer"
                                 data-custom-toggled="input-bad-1-toggle">
                                <input type="text" class="form-control" id="poll-bad-thanks" placeholder="Wpisz swoje podziękowania">
                            </div>

                            <div class="form-group form-group--spaced form-group--answer"
                                 data-custom-toggled="input-bad-2-toggle">
                                <input type="text" class="form-control" id="poll-bad-thanks-answer" placeholder="Wpisz swoje podziękowania">
                            </div>

                            <div class="form-group form-group--spaced form-group--answer"
                                 data-custom-toggled="input-bad-3-toggle">
                                <input type="text" class="form-control" id="poll-bad-url" placeholder="Dodaj adres url (www) z podziękowaniem">
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-block btn-xl btn-info btn--back">Wróć do edycji podstawowej</button>

                    <div class="box-footer">
                        <span class="d-block text-center float-lg-left box-footer-label">Przypomnij o ankiecie</span>

                        <div class="float-lg-right text-center">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineRadio1">Tak</label>
                                <input class="form-check-input input-remind" type="radio"
                                       name="inlineRadioOptions" id="inlineRadio1" value="1">
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineRadio2">Nie</label>
                                <input class="form-check-input input-remind" type="radio"
                                       name="inlineRadioOptions" id="inlineRadio2" value="0" checked>
                            </div>
                        </div>

                        <div class="input-remind-toggle">
                            <p>Przypomnienie będzie wysyłane, gdy klient<br>nie dokona oceny w okresie 7 dni.</p>

                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio"
                                               name="remindOptions" id="days1" value="option1">
                                        <label class="custom-control-label" for="days1">3 dni</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio"
                                               name="remindOptions" id="days2" value="option2">
                                        <label class="custom-control-label" for="days2">7 dni</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio"
                                               name="remindOptions" id="days3" value="option1">
                                        <label class="custom-control-label" for="days3">14 dni</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio"
                                               name="remindOptions" id="days4" value="option2">
                                        <label class="custom-control-label" for="days4">21 dni</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="box-button-group">
                <div>
                    <button type="button" class="btn btn--remove">Usuń ankietę</button>
                </div>

                <div>
                    <button type="button" class="btn btn-outline-primary"
                            data-toggle="modal" data-target="#pollPreviewModal">Podgląd ankiety</button>
                </div>

                <div>
                    <button type="button" class="btn btn-primary">Dalej</button>
                </div>
            </div>
        </div>
    </div>
</div>
